﻿@model DonorManagementApp.Models.FirstdataCreateTokenTransactionRequest
@{
    ViewBag.Title = "View";
}
<!--<form id="payment_confirmation" action="https://testsecureacceptance.cybersource.com/pay" method="post"><!-- Test -->
<form id="payment_confirmation" action="https://globalgatewaye4.firstdata.com/payment" method="post">
    <!--Live -->
    @{
        Model.GetSignature();
        var dictionary = Model.GetProperties();


        if (dictionary != null)
        {
            foreach (var item in dictionary)
            {
                <input type="hidden" id="@item.Key" name="@item.Key" value="@item.Value" />
            }
        }
      
        <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
    }
</form>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        //Your code to run since DOM is loaded and ready
        showLoader();
        document.forms[0].submit();
    });
</script>
