﻿@model DonorManagementApp.Models.HBLTransactionRequest
@{
    ViewBag.Title = "View";
}

<form id="payment_confirmation" action="https://testsecureacceptance.cybersource.com/token/create" method="post">
    @{
        var dictionary = Model.GetProperties();
        string sign = Model.GetSignature(dictionary);

        if (dictionary != null)
        {
            foreach (var item in dictionary)
            {
                <input type="hidden" id="@item.Key" name="@item.Key" value="@item.Value" />
            }
        }

        <input type="hidden" id="signature" name="signature" value="@sign" />
        <input type="hidden" name="card_type" />
        <input type="hidden" name="card_number" />
        <input type="hidden" name="card_expiry_date" />
    }
</form>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        // Your code to run since DOM is loaded and ready
        showLoader();
        document.forms[0].submit();
    });
</script>