﻿@{
    List<QuickAmount> quickAmounts = null;
    if (ViewBag.QuickAmounts != null)
    {
        quickAmounts = ViewBag.QuickAmounts;
    }
}


<div class="page-contain">

    <div class="landingContent" style=" transition: width 2s, height 0s;">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3 space-x">
                    <p class="runnertxt">
                        Join us in <strong>Shaping</strong><br>
                        <span><button type="button" class="" data-toggle="modal" data-target="#video1"> Pakistan's Future!</button></span><br>
                    <p class="runnertxt">
                        Become a part of an <br>
                        <span><button type="button" class="" data-toggle="modal" data-target="#video2"> inspiring global community</button></span>
                    </p>
                    <p class="runnertxt">
                        Support one of the world's <br>
                        <span class="lastbtn">
                            <button type="button" class="last-btn" data-toggle="modal" data-target="#video3">
                                most generous higher<br>
                                education scholarship<br>program
                            </button>
                        </span>
                    </p>
                </div>

                <div class="text-center col-sm-12 space-x">

                    <p style="color:#5D2568"><a href="#" class="joinUs" id="gift">It starts with a small gift! <img src="../images/gift-icn.svg" alt="" class="gift-icn" /></a></p>
                </div>

            </div>
            <!-- Modal -->


            <div class="modal fade" id="video1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">


                        <div class="modal-body">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- 16:9 aspect ratio -->
                            <div class="embed-responsive embed-responsive-16by9">

                                <video width="100%" height="auto" controls poster="https://habib.edu.pk/donate-webapp/maria-video-thumbnail.jpg">
                                    <source src="https://habib.edu.pk/donate-webapp/videos/Maria-Klawe.mp4" type="video/mp4" preload="none">
                                    Your browser does not support the video tag.
                                </video>
                            </div>


                        </div>

                    </div>
                </div>
            </div>


            <div class="modal fade" id="video2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">


                        <div class="modal-body">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- 16:9 aspect ratio -->
                            <div class="embed-responsive embed-responsive-16by9">

                                <video width="100%" height="auto" controls poster="https://habib.edu.pk/donate-webapp/mehdi-video-thumbnail.jpg">
                                    <source src="https://habib.edu.pk/donate-webapp/videos/Mehdi-Hasan.mp4" type="video/mp4" preload="none">
                                    Your browser does not support the video tag.
                                </video>
                            </div>


                        </div>

                    </div>
                </div>
            </div>


            <div class="modal fade" id="video3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">


                        <div class="modal-body">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- 16:9 aspect ratio -->
                            <div class="embed-responsive embed-responsive-16by9">


                                <video width="100%" height="auto" controls poster="https://habib.edu.pk/donate-webapp/ruhama-video-thumbnail.jpg">
                                    <source src="https://habib.edu.pk/donate-webapp/videos/Ruhama-Naeem.mp4" type="video/mp4" preload="none">
                                    Your browser does not support the video tag.
                                </video>
                            </div>


                        </div>

                    </div>
                </div>
            </div>




            <div class="row" style="padding:0; margin-left:-15px; margin-right:-15px;">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <!--<div class="col-sm-12 text-center"> <img src="../images/wired.svg" class="wiredimg" alt="" /></div>-->
                    <button class="gallery-btn" data-toggle="modal" data-target="#gallery"><img src="../images/wired-with-icon.svg" class="wiredimg" alt="" /></button>


                    <!--		<div class="carousel slide" id="theCarousel" data-ride="carousel" data-interval="4000">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="text-center hm-slide"><img src="../images/wired.svg" class="margin-img wiredimg"></div>
                                </div>
                                <div class="item ">
                                    <div class="text-center hm-slide"><img src="../images/h0.png" class="margin-img wiredimg"></div>
                                </div>
                                <div class="item">
                                    <div class="text-center hm-slide"><img src="../images/h2.png" class="margin-img wiredimg"></div>
                                </div>
                                <div class="item">
                                    <div class="text-center hm-slide"><img src="../images/h3.png" class="margin-img wiredimg"></div>
                                </div>
                                <div class="item">
                                    <div class="text-center hm-slide"><img src="../images/h4.png" class="margin-img wiredimg"></div>
                                </div>


                            </div>
                          -->
                </div>
                <div class="modal fade" id="gallery" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog gallery-modal" role="document">
                        <div class="modal-content">


                            <div class="modal-body">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                <div class="carousel slide" id="theCarousel" data-ride="carousel" data-interval="false">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div class="text-center hm-slide"><img src="../images/gallery/1.jpg" class="img-responsive"></div>
                                        </div>
                                        <div class="item">
                                            <div class="text-center hm-slide"><img src="../images/gallery/2.jpg" class="img-responsive"></div>
                                        </div>
                                        <div class="item">
                                            <div class="text-center hm-slide"><img src="../images/gallery/3.jpg" class="img-responsive"></div>
                                        </div>
                                        <div class="item">
                                            <div class="text-center hm-slide"><img src="../images/gallery/4.jpg" class="img-responsive"></div>
                                        </div>
                                        <div class="item">
                                            <div class="text-center hm-slide"><img src="../images/gallery/5.jpg" class="img-responsive"></div>
                                        </div>
                                        <div class="item">
                                            <div class="text-center hm-slide"><img src="../images/gallery/6.jpg" class="img-responsive"></div>
                                        </div>
                                        <div class="item">
                                            <div class="text-center hm-slide"><img src="../images/gallery/7.jpg" class="img-responsive"></div>
                                        </div>
                                        <div class="item">
                                            <div class="text-center hm-slide"><img src="../images/gallery/8.jpg" class="img-responsive"></div>
                                        </div>
                                        <div class="item">
                                            <div class="text-center hm-slide"><img src="../images/gallery/9.jpg" class="img-responsive"></div>
                                        </div>
                                        <div class="item">
                                            <div class="text-center hm-slide"><img src="../images/gallery/10.jpg" class="img-responsive"></div>
                                        </div>



                                    </div>
                                    <a class="left carousel-control" href="#theCarousel" data-slide="prev"><img src="../images/arrow-left.svg" alt="<"></a>
                                    <a class="right carousel-control" href="#theCarousel" data-slide="next"><img src="../images/arrow-right.svg" alt=">"></a>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="video3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">


                            <div class="modal-body">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <!-- 16:9 aspect ratio -->
                                <div class="embed-responsive embed-responsive-16by9">

                                    <video width="100%" height="auto" controls poster="https://habib.edu.pk/donate-webapp/ruhama-video-thumbnail.jpg">
                                        <source src="https://habib.edu.pk/donate-webapp/videos/Ruhama-Naeem.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>



            </div>

        </div>


    </div>

    <div class=" bottom-bg">
        <div class="col-md-12 text-center">
            <!--col-md-6 col-md-offset-3-->
            <div class=""><a href="#" class="navbtns">Home</a> <a href="#" class="navbtns navidle joinUs">Join Us</a></div>
        </div>


    </div>
</div>
<div class="formContent hideContentWithanimate" style=" transition: width 2s, height 0s;">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4 col-md-offset-4">

                <div class="row">
                    <div class="text-center col-sm-12 ">
                        <h2 class="page-heading"> Make a <strong>Difference</strong></h2>
                        <p>
                            <a href="#" class="purple-pararapgh mohsineen" id="mohsineen">
                                American Philanthropists & Pakistani diaspora in USA donate generously & understand the value of supporting institutions of higher learning. By supporting Habib University, you will take lead in strengthening a world-class institution in Pakistan and shaping the country’s future. Join our wonderful <strong>community of Mohsineen</strong> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    @using (Html.BeginForm("Donate", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @*<form class="">*@
                        <!--space-x-->
                        <input type="hidden" name="Plan" id="Plan" />
                        <input type="hidden" name="Amount" id="Amount" />
                        <div class="form-group row" id="planContainer">
                            <div class="col-sm-12 text-center custom-heads"><h4>Select a Plan</h4></div>
                            <div class="col-sm-12 select-freq">

                                <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="month-freq" value="Monthly" required checked /><label for="month-freq" class=" freq_monthly"><span>Monthly</span></label>


                                <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="yearly-freq" value="Yearly" /><label for="yearly-freq" class="freq_yearly"><span class="">Yearly</span></label>

                                <span class="text-hide has-error text-danger" id="error_plan">Please select plan</span>
                            </div>
                        </div>

                        <div class="form-group row custom-ff" id="amountContainer">
                            <div class="col-sm-12 text-center custom-heads"><h4>Select Amount</h4></div>
                            <!-- <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>-->

                            <div class="col-sm-12 select-amnt">
                                @if (quickAmounts != null && quickAmounts.Count() > 0)
                                {
                                    foreach (var quickAmount in quickAmounts)
                                    {
                                        <input type="radio" class="amnt-select group-@quickAmount.GroupId" name="Figure" id="@quickAmount.Id" value="@quickAmount.Value" /><label for="@quickAmount.Id" class=" amnt-field group-@quickAmount.GroupId"><span>@quickAmount.Text</span></label>
                                    }
                                }
                                <span class="text-hide has-error text-danger" id="error_Amount">Please select amount</span>
                            </div>
                            <div class="col-sm-12 custom-tb-lg">
                                <input type="text" class="form-control pkr-span numbersOnly" id="inputOtherAmount" placeholder="Other Amount (Upto $ 900,000)" onkeyup="document.getElementById('error_Amount').classList.add('text-hide');">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-check text-left ">
                                <label class="chkbox-container">One time only <input name="RecurringDonationFrequency" id="onetimeonly" type="checkbox"><span class="checkmark"></span></label>

                            </div>

                        </div>
                        <div class="form-group row custom-ff">

                            <div class="col-sm-12 text-center custom-heads"><h4>Contact Info </h4></div>
                            <div class="col-sm-6 custom-tb">
                                <input type="text" class="form-control text-capitalize alphabateOnly" onkeyup="document.getElementById('error_firstname').classList.add('text-hide');" required id="firstname" name="FirstName" placeholder="First Name">
                                <span class="text-hide has-error text-danger" id="error_firstname">Please enter First Name</span>
                            </div>

                            <div class="col-sm-6 custom-tb">
                                <input type="text" class="form-control text-capitalize alphabateOnly" onkeyup="document.getElementById('error_lastname').classList.add('text-hide');" required id="lastname" name="LastName" placeholder="Last Name">
                                <span class="text-hide has-error text-danger" id="error_lastname">Please enter Last Name</span>
                            </div>

                            <div class="col-sm-6 custom-tb">
                                <input type="text" class="form-control numbersOnly" required id="mobilenumber" name="CellNumber" onkeyup="document.getElementById('error_mobilenumber').classList.add('text-hide');" placeholder="Cell (1XXXXXXXXXX)">
                                <span class="text-hide has-error text-danger" id="error_mobilenumber">Please enter Cell</span>
                            </div>

                            <div class="col-sm-6 custom-tb">
                                <input type="text" class="form-control" required id="email" name="Email" placeholder="Email" onkeyup="document.getElementById('error_email').classList.add('text-hide');">
                                <span class="text-hide has-error text-danger" id="error_email">Please enter Email</span>
                            </div>

                        </div>
                        <div class="form-group row custom-ff">
                            <div class="col-sm-12 org-field">
                                <input type="text" class="form-control text-capitalize" required id="address" name="Address" onkeyup="document.getElementById('error_address').classList.add('text-hide');" placeholder="Address (House#, Street#, City, State, Zip Code)" maxlength="99">
                                <span class="text-hide has-error text-danger" id="error_address">Address should not be more than 100 characters</span>
                            </div>
                        </div>
                        <div class="form-group row custom-ff">
                            <div class="col-sm-12 org-field">
                                <input type="text" class="form-control text-capitalize" id="organization" name="Organization" placeholder="Organization (optional)">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-check text-left">
                                <label class="chkbox-container">Consider as Zakat <input type="checkbox" name="TreatAsZakat" id="TreatAsZakat" value="Consider as Zakat" required><span class="checkmark"></span></label>
                            </div>
                        </div>
                        <div class="form-group row custom-ff" id="recognitionContainer">
                            <div class="col-sm-12 text-center custom-heads"><h4>Contribute As</h4></div>
                            <div class="col-sm-12 select-recg">

                                <input type="radio" class="recg-select" name="recognition" id="self" value="0"><label for="self" class=" recg-field"><span>Self </span></label>
                                <input type="radio" class="recg-select" name="recognition" id="anonymous" value="1"><label for="anonymous" class=" recg-field"><span>Anonymous </span></label>
                                <input type="radio" class="recg-select" name="recognition" id="inthenameof" value="2"><label for="inthenameof" class="name-fullwidth recg-field"><span>In the name / memory of</span></label>

                                <span class="text-hide has-error text-danger" id="error_Recognition">Please select contribute as</span>
                            </div>
                            <div class="col-sm-12 custom-tb-lg">
                                <input type="text" class="form-control" id="InTheNameOfField" name="InTheNameOf" placeholder="Enter name other than self" onkeyup="" style="display:none;">
                                <span class="text-hide has-error text-danger" id="error_InTheNameOf">Please enter the name</span>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center custom-heads"><h4>How did you hear about us? </h4></div>
                        <div class="form-group row custom-ff">
                            <div class="col-sm-12 org-field">
                                <select id="HearFrom" name="HearFrom" onkeyup="document.getElementById('error_HearFrom').classList.add('text-hide');" class="form-control text-capitalize">
                                    <option value="0">Please select </option>
                                    <option value="habibUniversity">Habib University</option>
                                    <option value="company">Your Company</option>
                                    <option value="Friend/Colleague">Friend/Colleague</option>
                                    <option value="other">Other</option>
                                </select>
                                <span class="text-hide has-error text-danger" style="padding-bottom:0px" id="error_HearFrom">Please enter </span>
                            </div>
                            <div class="col-sm-12 custom-tb-lg other-txtbox" id="HearFromDiv" style="display:none">
                                <input type="text" class="form-control" id="HearFromField" name="HearFromField" onkeyup="document.getElementById('error_HearFromField').classList.add('text-hide');" placeholder="Please specify" style="display:none;">
                                <span class="text-hide has-error text-danger" style="padding-bottom:0px" id="error_HearFromField">Please enter value</span>
                            </div>
                        </div>




                        <div class="form-group row custom-ff">
                            <div class="col-sm-12">
                                <button type="button" id="btnSubscribe" class="btn btn-primary custom-btn">Subscribe</button>
                                @{
                                    if (!string.IsNullOrEmpty(ViewBag.Msg))
                                    {
                                        <p class="text-danger" style="font-size:14px; background-color: transparent; padding-top:10px;" id="message">@ViewBag.Msg</p>
                                    }
                                }
                            </div>
                        </div>
                        @*</form>*@
                    }
                    <div class="form-group row custom-ff">
                        <div class="col-sm-12 text-center">
                            <img src="../images/payment-verification-logos.svg" alt="" class="ipg_logos" />
                        </div>
                    </div>
					
					<div class="col-sm-12 text-left">
						<div class="bank-details">
							<h4><strong>Wire Transfer Option</strong></h4>
							Account Name:<br>Habib University Foundation US Inc.<br>
							Bank: HAB Bank<br>
							Bank Address:<br>99 Madison Ave, New York, N.Y. 10016<br>
							Account number: 101215764<br>
							Routing number: 026007362<br>
							Swift code: HANYUS33
							
						</div>
						
							<div class="cheque-details" style="display: none">
							<h4><strong>Subscribe by Cheque Option</strong></h4>
							You can mail us a cheque in the name of: <br>Habib University Foundation US Inc. <br>
								Letter addressed to: Chairman HUFUS <br>
								Greeley Square Station #20150 <br>
								4 East 27th Street New York, New York 10001
								
						</div>
						
					</div>
					
                    <div class="col-sm-12 text-center zakat-txt">
						<a href="https://hufus.org" target="_blank"><img src="../Images/hufus-footer-logo.svg" alt="HUFUS Inc." class="hufus-logo"></a>
                        <p>
                            Habib University Foundation US is recognized by the Internal Revenue Service as a Section 501(c)(3) tax-exempt public charity. US donors are eligible to receive an income tax deduction for charitable contributions to the extent permitted by law. In compliance with Internal Revenue Service regulations, the Board of Directors of Habib University Foundation US maintains control and discretion over the allocation of gifts to Habib University.
                        </p>

                        <div class="col-sm-12 text-center help-text">
                            <button class="gallery-btn" data-toggle="modal" data-target="#FAQs"><img src="../images/faq-icon.svg" alt="" /></button>
                            <h4 class="ord-heading">Office of Resource Development</h4>
                            <!--<p><img src="../images/001-phone-call.svg" alt="" /> <a href="tel:+923122338343">+1 (203) 444-2696</a> </p>-->
                            <p><img src="../images/002-envelope.svg" alt="" /> <a href="mailto:giving@habib.edu.pk">giving@hufus.org</a></p>
                            <p style="letter-spacing: 0; padding-top:5px; font-weight: normal;"><a href="https://hufus.org/privacy-statement.html" target="_blank">Privacy Statement</a></p>
                        </div>

                    </div>




                </div>





            </div>

            <div class="modal fade" id="FAQs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">


                        <div class="modal-body">

                            <button type="button" class="close faq-modal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- 16:9 aspect ratio -->

                            <div class="">

                                <div class="col-sm-12 faqs-box">

                                    <li>
                                        <strong>What do the different categories of subscribers mean?</strong><br>
                                        Visionaries are subscribers who make a recurring monthly contribution of USD100 or more.<br>
                                        Benefactors are subscribers who make a recurring monthly contribution of USD 50 or more.<br>
                                        Supporters are subscribers who make a recurring monthly donation of USD  25 or more.<br>
                                        Fellows are those who make a monthly contribution of less than USD 15.


                                    </li>

                                    <li>
                                        <strong>How will I track my monthly gifts?</strong> <br>
                                        You will receive an email and receipt upon every transaction made.
                                    </li>

                                    <li>
                                        <strong>Will I get any tax benefits by subscribing? </strong> <br>
                                        Habib University Foundation US is recognized by the Internal Revenue Service as a Section 501(c)(3) tax-exempt public charity. US donors are eligible to receive an income tax deduction for charitable contributions to the extent permitted by law.
                                    </li>

                                    <li>
                                        <strong>Will I receive a receipt against my donation? </strong> <br>
                                        You will receive an e receipt once your donation is processed on the email address provided by you on the weblink form. Please check your spam/ junk incase the receipt is not received in your inbox and mark it as not spam/junk so you may receive the subsequent receipts in your primary inbox.
                                    </li>

                                    <li style="display: none">
                                        <strong>Can Habib University Foundation receive Zakat?</strong> <br>
                                        HUF is Sharia compliant for Zakat collection, certified by Sharia advisor from Jamia Dar ul Uloom, Karachi.
                                    </li>

                                    <li>
                                        <strong>How do I change my subscription plan?</strong> <br>
                                        Please write to the Office of Resource Development at <a href="mailto:giving@hufus.org">giving@hufus.org</a><!-- or contact us on <a href="tel:+1 (203) 444-2696">+1 (203) 444-2696</a> by leaving a text or WhatsApp message-->. A representative from the Office of Resource Development will contact you once the request is received.

                                    </li>

                                    <li>
                                        <strong>How do I switch my subscription to another credit/debit card? </strong> <br>
                                        Please write to the Office of Resource Development at <a href="mailto:giving@hufus.org">giving@hufus.org</a><!-- or contact us on <a href="tel:+1 (203) 444-2696">+1 (203) 444-2696</a>, by leaving a text or WhatsApp message-->. A representative from the Office of Resource Development will contact you once the request is received. Your previous card details will be deactivated from our system. You will have to re enter new information at giving.hufus.org for subsequent transactions.
                                    </li>


                                    <li>
                                        <strong>Will I be able to use my debit Visa/MasterCard to subscribe to Habib University?</strong> <br>
                                        Your debit card needs to be activated for online use by your bank. Upon activation you can use your debit card to subscribe on <a href="mailto:giving@hufus.org">giving@hufus.org</a>
                                    </li>


                                    <li>
                                        <strong>How do I unsubscribe?</strong> <br>
                                        Please write to the Office of Resource Development at <a href="mailto:giving@hufus.org">giving@hufus.org</a><!-- or contact us on <a href="tel:+1 (203) 444-2696">+1 (203) 444-2696</a>, by leaving a text or WhatsApp message--> to unsubscribe and your subscription will be cancelled. A representative from the Office of Resource Development will contact you once the request is received, and send you a confirmation via email.
                                    </li>


                                    <li class="faq-icns">
                                        <strong>Where can I find more information on Habib University?  </strong> <br>
                                        Please visit our website <a href="https://habib.edu.pk" target="_blank">www.habib.edu.pk</a> and our <a href="https://facebook.com/mohsineenofhu" target="_blank">facebook page</a><br>You can also visit other platforms of Habib University by clicking the icons below. <br>
                                        <a href="https://www.linkedin.com/company/habib-university" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/habibuniversity" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.facebook.com/HabibUniversity" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="https://instagram.com/habibuniversity" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                                        <a href="https://www.youtube.com/user/HabibUni" title="YouTube" target="_blank"><i class="fa fa-youtube"></i></a>

                                    </li>


                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
            <div class="row bottom-bg">
                <div class="col-md-12 text-center">
                    <!--col-md-6 col-md-offset-3-->
                    <div class=""><a href="#" class="navbtns navidle home">Home</a> <a href="#" class="navbtns joinUs">Join Us</a></div>
                </div>


            </div>

        </div>




    </div>
</div>
<div id="mohsineenContent" class="hideContentWithanimate mohsineenContent">
    @{
        Html.RenderPartial("Mohsineen", null);
    }
</div>
<div id="mohsineenVisionariesContent" class="hideContentWithanimate mohsineenVisionaries mohsineenVisionariesContent">
    @{
        Html.RenderPartial("VisionariesDonors");
    }
</div>
<div id="mohsineenBenefactorsContent" class="hideContentWithanimate mohsineenBenefactorsContent">
    @{
        Html.RenderPartial("BenefactorsDonors");
    }
</div>
<div id="mohsineenSupportsContent" class="hideContentWithanimate mohsineenSupportsContent">
    @{
        Html.RenderPartial("SupportersDonors");
    }
</div>
<div id="mohsineenFellowsContent" class="hideContentWithanimate mohsineenFellowsContent">
    @{
        Html.RenderPartial("FellowsDonors");
    }
</div>
</div>
@*<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>*@


<script>
    //  <i class="fa fa-arrow-left" aria-hidden="true"></i>
    jQuery(document).ready(function () {
        var owl = $('.owl-carousell');
        owl.owlCarousel({
            margin: 10,
            nav: true,
            navText: ["<div > <i class='fa fa-arrow-left' aria-hidden='true'></i></div>", "<div> <i class='fa fa-arrow-right' aria-hidden='true'></i> </div>"],
            loop: true,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    });
</script>