﻿
@{
    ViewBag.Title = "Login";
    // Layout = "~/Views/Shared/_LayoutGala.cshtml";
}

<h2 ><center>giving.hufus.org online transactions report</center></h2>
<form id="selectionForm" class="cmxform" action="@Url.Action("Report","Home")" method="post">
    <hr class="stripe" />
    <div class="content">
        <div class="form">
            <div class="form-group">
                <p style="text-align:center;">
                    <label id="label-1">Access Key</label>
                    <input type="password" required class="input-xlarge required ValidEmail1" id="accessKey" name="accessKey" rel="popover" data-content="enter access key provided by Habib Universiyt." data-original-title="accessKey" datavalidation="accessKey" title="Required">
                </p>
            </div>
            <br>

            <div class="form-group">
                <p style="text-align:center;">
                    <input type="submit" value="Next" id="btnLogin" style="margin-left:142px; width:120px; color: #fff; background-color: #285992; border: solid 0px #f4cf79; background-image: url(next.png); background-repeat: no-repeat; background-position: 147px center;">
                </p>
            </div>
            <p style="margin-bottom:0% !important;">
                <label id="error" for="input01" style="color: rgb(221, 0, 0); width: 100%!important; font-size: 14px; background-color:yellow; text-align:center;">@ViewBag.Msg</label>
            </p>
        </div>
    </div>
</form>
