﻿@model IEnumerable<DonorManagementApp.DonationReport>

@{
    ViewBag.Title = "Report";
}

<h2>
    giving.hufus.org online transactions report
</h2>

<p>
    @Html.ActionLink("Home", "Index", "Home")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization)
        </th>
        <th>
            @Html.DisplayName("Address")
        </th>
        <th>
            @Html.DisplayName("Cell Number")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayName("Amount (USD)")
        </th>
        <th>
            @Html.DisplayName("Transaction Type")
        </th>
        <th>
            @Html.DisplayName("Contribute As")
        </th>
        <th>
            @Html.DisplayName("Hear From")
        </th>
        <th>
            @Html.DisplayName("Transaction Date/Time")
        </th>
        <th>
            @Html.DisplayName("Transaction ID")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CellNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @String.Format("{0:n0}", item.Amount)
        </td>
        <td>
            <span style="text-transform:capitalize">@item.TransactionType</span>
        </td>
        <td>
            @if (item.Recognition == 1)
            {
                @String.Format("Anonymous")

            }
            else if (item.Recognition == 2)
            {
                @Html.DisplayFor(modelItem => item.RecognitionInNameOf)
            }
            else
            {
                @String.Format("Self")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HearFrom)
        </td>
        <td>
            @item.TransactionDateTime.AddHours(5).ToString("dd/MMMM/yyyy HH:MM")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionId)
        </td>
    </tr>
    }

</table>
