﻿


<link rel="stylesheet" href="https://habib.edu.pk/playground/wp-content/themes/playground/css/owl.carousel.min.css?ver=4.8.10">
		<link rel="stylesheet" href="https://habib.edu.pk/playground/wp-content/themes/playground/css/owl.theme.default.min.css?ver=4.8.10">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <script src="https://hufus.org/owl/assets/vendors/jquery.min.js"></script>
		<script src="https://habib.edu.pk/playground/wp-content/themes/playground/js/owl.carousel.min.js"></script>

<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center col-sm-12 head_banner_ayat space-x">
                <img src="images/wall-of-mohsineen/ayat.png" alt="">
                <p class="paragrah-width">
                    So Allah gave them the reward of this world and the good reward of the Hereafter. And Allah Loves the doers of good. <br>
                    <strong>( SURAH AAL-E-IMRAN - 3 : 148 )</strong>
                </p>
                <hr />

                <h2 class="page-heading">Voices of our community</h2>
                <p class="purple-pararapgh">
                    A tribute to our community members for their support in shaping Pakistan's future
                </p>
            </div>


            <div class="text-center col-sm-12 wall-container">



                <div class="col-md-12">
                    <!--<div class="carousel slide multi-item-carousel" id="theCarousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-xs-3"><button data-toggle="modal" data-target="#dhanani"><img src="../images/wall-of-mohsineen/shoukat-ali-dhanani.png" class="img-responsive"></button></div>
                            </div>
                            <div class="item">
                                <div class="col-xs-3"><button data-toggle="modal" data-target="#arifhabib"><img src="../images/wall-of-mohsineen/arif-habib.png" class="img-responsive"></button></div>
                            </div>
                            <div class="item">
                                <div class="col-xs-3"><button data-toggle="modal" data-target="#nargissoorty"><img src="../images/wall-of-mohsineen/nargis-soorty.png" class="img-responsive"></button></div>
                            </div>
                            <div class="item">
                                <div class="col-xs-3"><button data-toggle="modal" data-target="#bashir"><img src="../images/wall-of-mohsineen/mohomed-bashir.png" class="img-responsive"></button></div>
                            </div>
                            <div class="item">
                                <div class="col-xs-3"><button data-toggle="modal" data-target="#shahbaz"><img src="../images/wall-of-mohsineen/shahbaz-yasim-malik.png" class="img-responsive"></button></div>
                            </div>
                            <div class="item">
                                <div class="col-xs-3"><button data-toggle="modal" data-target="#tariqrafi"><img src="../images/wall-of-mohsineen/tariq-rafi.png" class="img-responsive"></button></div>
                            </div>
                            
                        </div>
                        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><img src="../images/arrow-left.svg" alt="<"></a>
                        <a class="right carousel-control" href="#theCarousel" data-slide="next"><img src="../images/arrow-right.svg" alt=">"></a>
                    </div>-->
					
					<!--<div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-xs-4"><button data-toggle="modal" data-target="#dhanani"><img src="../images/wall-of-mohsineen/SAD-Thumbnail.png" class="img-responsive"></button></div>
          </div>
         
          <div class="item">
            <div class="col-xs-4"><button data-toggle="modal" data-target="#nargissoorty"><img src="../images/wall-of-mohsineen/NS-thumbnail.png" class="img-responsive"></button></div>
          </div>
          <div class="item">
            <div class="col-xs-4">
              <button data-toggle="modal" data-target="#bashir"><img src="../images/wall-of-mohsineen/MB-thumbnail.png" class="img-responsive"></button></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><button data-toggle="modal" data-target="#shahbaz"><img src="../images/wall-of-mohsineen/SYM-thumbnail.png" class="img-responsive"></button></div>
          </div>
       
       
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><img src="../images/arrow-left.svg" alt="<"></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><img src="../images/arrow-right.svg" alt=">"></a>
      </div>-->
					
      <div class="owl-carousel owl-theme">
				
				
        <div class="item campaign-card">
          <a data-toggle="modal" data-target="#dhanani">
            <img src="../images/wall-of-mohsineen/SAD-Thumbnail.png" class="img-responsive">
          </a>
        </div>
          
        <div class="item campaign-card">
          <a data-toggle="modal" data-target="#nargissoorty">
           <img src="../images/wall-of-mohsineen/NS-thumbnail.png" class="img-responsive">
          </a>
          
        </div>
          
        
        <div class="item campaign-card">
          <a data-toggle="modal" data-target="#bashir">
            <img src="../images/wall-of-mohsineen/MB-thumbnail.png" class="img-responsive">
          </a>
        </div>

        <div class="item campaign-card">
          <a data-toggle="modal" data-target="#shahbaz">
            <img src="../images/wall-of-mohsineen/SYM-thumbnail.png" class="img-responsive">
          </a>
        </div>

       
      
      </div>
                </div>


          </div>


            <div class="col-md-12 space-x donors-cat-btns">
                <div class="row text-center" style="margin-bottom: 80px;">
					<!--<div class="col-md-12"> <h3 class="page-heading">Join us as</h3></div>-->
                    <div class="col-md-12"> <a class="cat-btn cat_gold visionariesLink" href="#">Visionaries <i class="glyphicon glyphicon-chevron-right"></i></a></div>
                    <div class="col-md-12"> <a class="cat-btn cat_silver benefactorsLink" href="#">Benefactors <i class="glyphicon glyphicon-chevron-right"></i></a></div>
                    <div class="col-md-12"> <a class="cat-btn cat_bronze supportersLink" href="#">Supporters <i class="glyphicon glyphicon-chevron-right"></i></a> </div>
					 <div class="col-md-12"> <a class="cat-btn cat_fellow fellowsLink" href="#">Fellows <i class="glyphicon glyphicon-chevron-right"></i></a> </div>

                </div>


            </div>




            <div class="modal fade" id="dhanani" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">


                        <div class="modal-body">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- 16:9 aspect ratio -->
                                                           <video width="100%" height="auto" controls poster="https://habib.edu.pk/donate-webapp/donors/dhanani-video-thumbnail.jpg">
  <source src="https://habib.edu.pk/donate-webapp/donors/Shoukat.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>


                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="bashir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">


                        <div class="modal-body">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- 16:9 aspect ratio -->
                                              <video width="100%" height="auto" controls poster="https://habib.edu.pk/donate-webapp/donors/bashir-video-thumbnail.jpg">
  <source src="https://habib.edu.pk/donate-webapp/donors/Bashir.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>


                        </div>

                    </div>
                </div>
            </div>

   

            <div class="modal fade" id="nargissoorty" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">


                        <div class="modal-body">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- 16:9 aspect ratio -->
                                            <video width="100%" height="auto" controls poster="https://habib.edu.pk/donate-webapp/donors/nargis-video-thumbnail.jpg">
  <source src="https://habib.edu.pk/donate-webapp/donors/Nargis.mp4" type="video/mp4">
												Your browser</video>


                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="shahbaz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">


                        <div class="modal-body">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- 16:9 aspect ratio -->
                            <video width="100%" height="auto" controls poster="https://habib.edu.pk/donate-webapp/donors/shahbaz-video-thumbnail.jpg">
  <source src="https://habib.edu.pk/donate-webapp/donors/Shahbaz.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>


                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

<div class="container-fluid" style="padding:0px">
    <div class="bottom-bg">
        <div class="col-md-12 text-center">
            <!--col-md-6 col-md-offset-3-->
            <div class=""><a href="#" class="navbtns navidle home">Home</a> <a href="#" class="navbtns navidle joinUs">Join Us</a></div>
        </div>
    </div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed
    <script src="js/bootstrap.js"></script>
     -->
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // your code here

            // Instantiate the Bootstrap carousel
            $('.multi-item-carousel').carousel({
                interval: false
            });

            // for every slide in carousel, copy the next slide's item in the slide.
            // Do the same for the next, next item.
            $('.multi-item-carousel .item').each(function () {
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                if (next.next().length > 0) {
                    next.next().children(':first-child').clone().appendTo($(this));
                } else {
                    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
                }
            });

        }, false);
    </script>
 <script>
  //  <i class="fa fa-arrow-left" aria-hidden="true"></i>
            jQuery(document).ready(function() {
              var owl = $('.owl-carousel');
              owl.owlCarousel({
                margin: 10,
                nav: true,
                navText: ["<div > <i class='fa fa-arrow-left' aria-hidden='true'></i></div>", "<div> <i class='fa fa-arrow-right' aria-hidden='true'></i> </div>"],
                loop: true,
				  autoplay:true,
				   autoplayTimeout:3000,
    autoplayHoverPause:true,
                responsive: {
                  0: {
                    items: 2
                  },
                  600: {
                    items: 3
                  },
                  1000: {
                    items: 3
                  }
				
                }
              })
            })
			  
			  
          </script>