﻿@{
    ViewBag.Title = "Thank you";


    string firstName = ViewBag.FirstName;
    string lastName = ViewBag.LastName;
    string cellPhone = ViewBag.CellPhone;
    string email = ViewBag.Email;
    //Donor donor = DonorManagementApp.Controllers.HomeController.GetDonorCategory(firstName, lastName, cellPhone, email);
}

@if (ViewBag.Flag == 1)
{
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center col-sm-12 head_banner">
                    <img src="../Images/Thank-You-Image.jpg" />
                </div>
                <div class="text-center col-sm-12 thanks-message space-x">
                    <h3>Welcome to our <br>community of <strong>Mohsineen!</strong></h3>
                </div>
                
                <div class="col-sm-12">
                    <a type="button" href="/Home?sm=true" class="btn btn-primary custom-btn thanks-message-btn">View your community</a>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
                <div class="social1_share">
                    <div class="col-md-12 purple-pararapgh">
                        <h3>Be our Ambassador</h3>
                        <h4>Invite your friends</h4>
                    </div>

                    <a href="https://www.addtoany.com/add_to/linkedin?linkurl=https%3A%2F%2Fgiving.habib.edu.pk&amp;linkname=" target="_blank"><img src="../images/linkedin.svg" width="32" height="32"></a>
                    <a href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fgiving.habib.edu.pk&amp;linkname=" target="_blank"><img src="../images/facebook.svg" width="32" height="32"></a>
                    <a href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fgiving.habib.edu.pk&amp;linkname=" target="_blank"><img src="../images/twitter.svg" width="32" height="32"></a>
                    <a href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fgiving.habib.edu.pk&amp;linkname=" target="_blank"><img src="../images/whatsapp.svg" width="32" height="32"></a>
                    <p class="copyright-a">© <a href="https://habib.edu.pk">Habib University</a></p>
                </div>


            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class=" bottom-bg">
            <div class="col-md-12 text-center">
                <!--col-md-6 col-md-offset-3-->
                <div class=""><a href="/home" class="navbtns navidle">Home</a> <a href="http://giving.hufus.org/" target="_blank" class="navbtns navidle">Join Us</a></div>
            </div>
        </div>


    </div>
}
else
{
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4 col-md-offset-4">
                <div class="text-center col-sm-12 thanks-message error-msg">
                    <img src="../images/error.svg" alt="Thanks">
                    @{
                        <h3>@($"Dear {ViewBag.Name},")</h3>
                        if (ViewBag.ReasonCode != "100")
                        {
                            <h4>@(ViewBag.ReasonCode): Your card transaction has been received and under review, our representative will contact you shortly for further process</h4>
                        }
                        else
                        {
                            <h4>@(ViewBag.ReasonCode): Your card transaction has been declined/rejected by your card issuing bank, Kindly contact your card issuing bank for details</h4>
                            <input type="hidden" value="@ViewBag.Message" name="errorMsg" />
                        }
                    }
                </div>

                <div class="col-sm-12">
                    @if (ViewBag.ReasonCode != "100")
                    {
                        @Html.ActionLink("Go back", "Index", "Home", new { msg = "." }, new { @class = "btn btn-primary custom-btn" })
                    }
                    else
                    {
                        @Html.ActionLink("Please Retry", "Index", "Home", new { msg = "." }, new { @class = "btn btn-primary custom-btn" })
                    }

                    @*<a type="button" href="wall-of-mohsineen.html" class="btn btn-primary custom-btn">View your community</a>*@
                </div>
            </div>
        </div>
    </div>

}
