﻿
<div class="container-fluid space-x">
<div class="col-md-4 col-md-offset-4">
    <div class="row text-center">

        <div class="text-left col-sm-3 back-btn">

            <a href="#" class="mohsineen"  onclick="clearContent()"><i class="glyphicon glyphicon-chevron-left "></i> Back</a>
        </div>

        <div class="text-center col-sm-8 list-head"><h2 class="page-heading">Visionaries</h2></div>
		<div class="text-left col-sm-12">
				<p class="cat_desc">We welcome you to join us as a visionary by making a recurring monthly contribution of USD 100 or more</p>
			</div>
    </div>


    <div class="form-group row custom-ff">


        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Find community of mohsineen" onkeyup="getDonors('donors-Visonaries-Content',null, null, null, this.value);">
        </div>
    </div>



    <div class="row text-center">
        <div class="col-md-12 donors-Visonaries-Content">
            <div class="list-design">
                <label class="list-name"></label>
                <label class="list-org"></label>
            </div>
        </div>
    </div>
</div>
</div>
<div class=" bottom-bg">
    <div class="col-md-12 text-center">
        <!--col-md-6 col-md-offset-3-->
        <div class="">
            <a href="#" class="navbtns navidle home">Home</a> <a href="/?msg=." class="navbtns navidle">Join Us</a></div>
        </div>
</div>
</div>