﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="title" content="Regular Annual Giving - Habib University">
<meta name="description" content="Support an Institution of National Pride.">
<meta name="keywords" content="giving, higher education, Pakistan, scholarship programs, donate, liberal arts, institution">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
  <meta name="author" content="Asim Siddiqui">	
	<meta property="og:title" content="Regular Annual Giving - Habib University">
<meta property="og:description" content="Support an Institution of National Pride.">
<meta property="og:image" content="https://habib.edu.pk/donate-webapp/campus-wired.png">
<meta property="og:url" content="https://giving.habib.edu.pk/">

<!-- Global site tag (gtag.js) - Google Analytics -->

<title>Regular Annual Giving - Habib University</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- css owl -->
    <!-- <link rel="stylesheet" href="../../Content/docs.theme.min.css"> 
    <link rel="stylesheet" href="../../Content/owl.carousel.min.css">
    <link rel="stylesheet" href="../../Content/owl.theme.default.min.css">-->

    <link rel="stylesheet" href="https://habib.edu.pk/playground/wp-content/themes/playground/css/owl.carousel.min.css?ver=4.8.10">
		<link rel="stylesheet" href="https://habib.edu.pk/playground/wp-content/themes/playground/css/owl.theme.default.min.css?ver=4.8.10">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

<!-- script owl -->
    <script src="../../Scripts/vendors/jquery.min.js"></script> 
    <script src="../../Scripts/owl.carousel.js"></script>

    <!-- <script src="https://hufus.org/owl/assets/vendors/jquery.min.js"></script> -->
	<!-- <script src="https://habib.edu.pk/playground/wp-content/themes/playground/js/owl.carousel.min.js"></script> -->


<!-- lity files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.css"/>
	
</head>
<body>
    <div id="mask" style="display:none; background-color:black; opacity:0.15; z-index: 9000; width:100%; height:100%; position:fixed; top:0;left:0"></div>
    <div id="loader" style="display:none; position:fixed; top:0; bottom:0; left:0;right:0; margin:auto; width:100px; height:100px; z-index:9002; background-image:url(../../Images/ajax-loaderBlack.gif)"></div>
    <div class="page-contain">
        <div class="container-fluid top-bg">
            <div class="row">
                <div class="col-md-12 text-center space-x">
                    <h1 class="text-center"><img src="../images/HU-logo.svg" width="205" height="68" alt="" /></h1>
                </div>
            </div>

        </div>
        <div class="container body-content" style="overflow: hidden; width: 100%;">
            <div id="container" class="slideLeftToRight"></div>
            <div id="mainPage" style="" class="slideRightToLeft">
                @RenderBody()
            </div>
            @*<hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>*@
        </div>
    </div>

<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0NLEPXX26T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0NLEPXX26T');
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-51636538-17"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-51636538-17');
</script>
	

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/DMS")
    @RenderSection("scripts", required: false)
</body>
</html>
