﻿@model string
@{

    Layout = null;
}

    <img src="/Content/certificates/visionary.jpg" style="width:843px; height:596px;" />
    <label style="position:absolute; margin:auto; left:44%; top:66%;">@Model</label>

