﻿@model DonorManagementApp.Models.TransactionReceipt

<style>

    tr {
        height: 35px;
    }
</style>

<table width="100%" cellpadding="2" cellspacing="2" border="0">

    <tr>
        <td colspan="2">
            <img src="http://habib.edu.pk/donate-webapp/hufus-receipt-logo.png" alt"HUFUS Receipt" />

        </td>

    </tr>

    <tr>
        <td>&nbsp;</td>
        <td align="right">@Model.Date</td>
    </tr>
    <tr>

        <td colspan="2">
            <p>
                @Model.FullName<br />
                @Model.Organization<br />
                @Model.Address
            </p>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>

        <td colspan="2">
            <p style="font-weight: bold;">
                Dear @Model.FullName,
            </p>
            <p>&nbsp;</p>
            <p>
                On behalf of Habib University Foundation U.S. (HUFUS), we would like to extend our deepest gratitude to you for your @((Model.Plan.Replace(" ", "").ToLowerInvariant() != "onetime") ? Model.Plan : "") @Model.NatureOfDoation of USD @Model.Amount received on @Model.Date through Transaction ID @Model.TransactionId.
            </p>
            <p>&nbsp;</p>
            <p>
                Habib University Foundation U.S. is a 501(c)(3) nonprofit organization registered with the Internal Revenue Service. Your contribution is tax-deductible to the extent allowed by law. HUFUS provided no goods or services in exchange for your contribution.
            </p>
        </td>
    </tr>

    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>

        <td align="left">
            <p>
                Yours truly,<br />
                <img src="https://habib.edu.pk/donate-webapp/arvid-signature.jpg" alt="Arvid Nelson" />
                <br />
                <strong>Arvid Nelson</strong><br />
                Secretary/Treasurer<br />
                Habib University Foundation U.S. Inc.
            </p>
        </td>

    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>

    <tr>
        <td colspan="2" align="center">&nbsp;</td>
    </tr>

    <tr>
        <td colspan="2" align="center">
            <p style="font-style: italic; font-size: 10px; text-align: center">
                Habib University Foundation US Inc. (HU FUS) is a public charity registered under the Internal Revenue Code with tax exempt status under Section 501 (c}(3) of the Code. All contributions to HUF US are deductible under Section 170 of the Code.<!-- Habib University Foundation U.S. Inc. Greeley Square Station #20150, 4 East 27th Street, N.Y. 10001-7720 Tel: +l (646) 685-3977 I Web: www.hufus.org Inc. E-mail: giving.hufus.org-->
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center"><hr /></td>
    </tr>
    <tr>
        <td colspan="2" align="center" style="font-size:12px">
            Habib University Foundation U.S. Inc. Greeley Square Station #20150, 4 East 27th Street, N.Y. 10001-7720<br />

            Tel: +1 (646) 685-3977 <strong>|</strong> Web: www.hufus.org <strong>|</strong> E-mail: giving.hufus.org
        </td>
    </tr>
</table>