﻿@model DonorManagementApp.Models.TransactionReceipt

<style>

    tr {
        height: 35px;
    }
</style>

<table width='100%' style="margin-left:auto; margin-right:auto;" border="1" align='left' color='#ccc' cellspacing='0' cellpadding='20' id='main_table'>
    <tr>
        <td>
            <table width='100%' border="0" align="center" cellpadding='0' cellspacing='0'>
                <tr>
                    <td colspan="6" align='center' valign='middle'>
                        <img src='https://habib.edu.pk/docs/1-huf-logo.png' width='50' height='65' alt='' />
                        <h2 style="margin-bottom: 0px; margin-top: 0px;">Habib University Foundation</h2>
                        <p style="margin: 0px;">A compnay set-up under section 42 of the Companies Act 2017.</p>
                        <p style="margin: 0px;">All donations qualify for tax credit u/s 61 of Income Tax Ordinance, 2001</p>

                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align: center; width: 100%;">National Tax No.  @Model.NationalTexNo</td>
                </tr>
                <tr><td colspan="6"></td></tr>
                <tr>
                    <td colspan="2">Serial No: </td>
                    <td colspan="4" style="border-bottom: 1px solid black;"> @Model.ReceiptNo </td>
                </tr>
                <tr>

                    <td colspan="2">Date: </td>
                    <td colspan="4" style="border-bottom: 1px solid black;">  @Model.Date  </td>
                </tr>


                <tr>
                    <td colspan="2">Received with thanks from: </td>
                    <td colspan="4" style="border-bottom: 1px solid black;" colspan="4">  @Model.FullName </td>
                </tr>
                <tr>
                    <td colspan="2"> Amount (in figure): </td>
                    <td colspan="4" style="border-bottom: 1px solid black;"> @(Model.Amount) USD</td>
                </tr>
                <tr>
                    <td colspan="2">Amount (in words):</td>
                    <td colspan="4" style="border-bottom: 1px solid black;" colspan="5"> @Model.AmountInFigure </td>
                </tr>
                <tr>
                    <td colspan="2">Being the amount for: </td>
                    <td colspan="4" style="border-bottom: 1px solid black;">@Model.NatureOfDoation</td>
                </tr>
                @if (Model.Plan.Replace(" ", "").ToLowerInvariant() != "onetime")
                {
                    <tr>
                        <td colspan="2">Transaction Plan:</td>
                        <td colspan="4" style="border-bottom: 1px solid black;">@Model.Plan</td>

                    </tr>
                }
                <tr>
                    <td colspan="2">Online Transaction ID:</td>
                    <td colspan="4" style="border-bottom: 1px solid black;">@Model.TransactionId</td>

                </tr>
                @if (Model.Plan.Replace(" ", "").ToLowerInvariant() != "onetime")
                {
                    <tr>
                        <td colspan="2">Next transaction date: </td>
                        <td colspan="4" style="border-bottom: 1px solid black;">@Model.NextTransactionDate</td>

                    </tr>
                }

                <tr>
                    <td colspan="2">Contribution Recognition:</td>
                    <td colspan="4" style="border-bottom: 1px solid black;">@Model.ContributionRecognition</td>

                </tr>


                <!-- <tr>
                    <td colspan="2">being the amount for </td>
                    <td colspan="4"  style="border-bottom: 1px solid black;">@Model.NatureOfDoation</td>
                </tr> -->
                <!--
                <tr>
                     <td colspan="6" style="height: auto;"> by online transaction </td>
                </tr>-->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="6" style="text-align: center;">
                        <b> Note: </b> This is an electronic receipt and does not require signature. Please print or save this document for your personal records and tax purposes
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align: center;">
                        <p style="margin: 0px;">University Avenue Off Shahra-e-Faisal, Gulistan-e-Johar, Karachi</p>
                        <p style="margin: 0px;">+92 21 1110 42242 (Ext. 4444)</p>
                        <p style="margin: 0px;">giving@habib.edu.pk</p>

                    </td>
                </tr>



            </table>
        </td>
    </tr>
</table>