﻿@model string
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visionary Certificate</title>
    <style>
        @("@")media print{@("@")page {  size: A4 landscape }}
    </style>
</head>
<body style="margin: 0px;padding: 0px;">

    <div style="width: 700px; float:left; text-align: left;">
        <div style="width: 608px;text-align: center;margin-top: 320px;position: absolute;margin-left: 50px">
            <h2 style="color: #5e2667;font-family: 'Bodoni Moda', serif;" for="name"> @Model</h2>
        </div>

            <img src="https://habib.edu.pk/certificates/visionary.jpg" alt="Visionary" width="700px">

        </div>

</body>
</html>
