﻿@model DonorManagementApp.HBL_Donors

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Donor</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CellNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.CellNumber, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="text" name="CellNumber" value="03453603733" class="form-control" />
            @Html.ValidationMessageFor(model => model.CellNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="Email" name="Email" value="test@habib.edu.pk" class="form-control" />
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="Password" name="Password" value="abc123" class="form-control" />
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="text" name="Type" value="Regular Donor" class="form-control" />
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TypeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.TypeId, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="text" name="TypeId" value="1" class="form-control" />
            @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Currency, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="text" name="Currency" value="PKR" class="form-control" />
            @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Recognition, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Recognition, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="text" name="Recognition" value="1" class="form-control" />
            @Html.ValidationMessageFor(model => model.Recognition, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RecurringDonationStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @*@Html.EditorFor(model => model.RecurringDonationStatus)*@
                <input type="text" name="RecurringDonationStatus" value="false" class="form-control" />
                @Html.ValidationMessageFor(model => model.RecurringDonationStatus, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RecurringDonationAmount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.RecurringDonationAmount, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="text" name="RecurringDonationAmount" value="0" class="form-control" />
            @Html.ValidationMessageFor(model => model.RecurringDonationAmount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RecurringDonationFrequency, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.RecurringDonationFrequency, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="text" name="RecurringDonationFrequency" value="One Time" class="form-control" />
            @Html.ValidationMessageFor(model => model.RecurringDonationFrequency, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RecurringTransactionEnabledDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.RecurringTransactionEnabledDateTime, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="text" name="RecurringTransactionEnabledDateTime" value="@DateTime.UtcNow.AddHours(5)" class="form-control" />
            @Html.ValidationMessageFor(model => model.RecurringTransactionEnabledDateTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RecurringDonationStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.RecurringDonationStartDate, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="text" name="RecurringDonationStartDate" value="@DateTime.UtcNow.AddHours(5)" class="form-control" />
            @Html.ValidationMessageFor(model => model.RecurringDonationStartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RecurringDonationEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.RecurringDonationEndDate, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="text" name="RecurringDonationEndDate" value="@DateTime.UtcNow.AddHours(5)" class="form-control" />
            @Html.ValidationMessageFor(model => model.RecurringDonationEndDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastRecurringTransactionDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.LastRecurringTransactionDateTime, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="text" name="LastRecurringTransactionDateTime" value="@DateTime.UtcNow.AddHours(5)" class="form-control" />
            @Html.ValidationMessageFor(model => model.LastRecurringTransactionDateTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NextRecurringTransactionDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="NextRecurringTransactionDateTime" value="@DateTime.UtcNow.AddHours(5)" class="form-control" />
            @*@Html.EditorFor(model => model.NextRecurringTransactionDateTime, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.NextRecurringTransactionDateTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="hidden" name="CreatedOn" value="@DateTime.UtcNow.AddHours(5)" />
    <input type="hidden" name="UpdatedOn" value="@DateTime.UtcNow.AddHours(5)" />


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
