﻿@model DonorManagementApp.HBL_Donors

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recognition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recognition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecurringDonationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecurringDonationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecurringDonationAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecurringDonationAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecurringDonationFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecurringDonationFrequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecurringTransactionEnabledDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecurringTransactionEnabledDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecurringDonationStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecurringDonationStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecurringDonationEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecurringDonationEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastRecurringTransactionDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastRecurringTransactionDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextRecurringTransactionDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextRecurringTransactionDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
