﻿@model IEnumerable<DonorManagementApp.HBL_Donors>

<p>
    @Html.ActionLink("Create New", "Create")
    <a href="#" onclick="$('#container').html('').removeClass('show'); $('#mainPage').addClass('show');">Close</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recognition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecurringDonationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecurringDonationAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecurringDonationFrequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecurringTransactionEnabledDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecurringDonationStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecurringDonationEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastRecurringTransactionDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextRecurringTransactionDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CellNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recognition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecurringDonationStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecurringDonationAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecurringDonationFrequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecurringTransactionEnabledDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecurringDonationStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecurringDonationEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastRecurringTransactionDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextRecurringTransactionDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
