@charset "utf-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css?family=Martel+Sans:400,700,900|Work+Sans:800');

.row{margin-right: 0px; margin-left: 0px;}

.swiper-container {height:666px;}

.slider_arrows {margin-bottom: 22% !important;}

.swiper-slide .outer {
    display: table;
    background: rgba(152, 152, 152, 0.21);
}
.swiper-slide .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 42px;
    text-shadow: 2px 1px 1px #5f5f5f;
}

.swiper-slide .inner span{
    width: 70%;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

a {color: #d61111;}

p {font-size: 15px;}

.count-info span {    
	font-size: 4rem;
    font-weight: bold;
}

.left-separator {
    border-left: 1px solid hsla(0, 0%, 71%, 0.25);
}

.section-header h3 {font-weight: bold; text-transform: uppercase;}

.count_img {width:30%; transition: width 300ms; -webkit-transition: width 300ms;}
/*.count_img:hover {width: 40%}*/

::selection {
    background-color: #9a0000;
    color: #fff;
}

.campaign-card .campaign-info {margin: -30px 10% 12px;}

.count-info h3 {color:#285992;margin-top: 0.319838em;}
.count-info p {color: #285992;}


.content-section {
	padding: 40px 0px;} 

.page-loader{position:fixed;width:100%;height:100%;z-index:1031;top:0;left:0;text-align:center;background-color:#ff512f;background-image:-webkit-linear-gradient(right,#285992,#1a7d96);background-image:linear-gradient(270deg,#285992,#1a7d96)}

.donate_btn {   background: #bf1e2d;color: #fff !important; }
.donate_btn a {color: #fff !important;}

.selected_nav {
    border-bottom:3px solid #285992;
    color: #285992 !important;
}


.head .container { background: -webkit-linear-gradient(right,rgba(255, 0, 0, 0.7),rgba(221,36,118,.7));
    background: linear-gradient(270deg,rgba(247, 0, 0, 0.49),rgba(221, 36, 36, 0.27));}
.navbar-brand {padding: 15px 32px;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { background: #2581dc;}
.navbar-nav>li>a:active, .navbar-nav>li>a:focus, .navbar-nav>li>a:hover {background: #bf1e2d; color: #fff;}
.campaign-card .card-footer a {width:100%;}
.gw-btn {background-color: #285992; border: 1px solid #245894;}

.gw-btn:active, .gw-btn:focus, .gw-btn:hover {
    background-color: #306eb6;
    color: #fafafa;
    border: 1px solid #285992;
}

span.count-icon:hover {
    color: #000;
}

#slide-1 {background: url(../images/slides/1.jpg); background-size: cover;}
#slide-2 {background: url(../images/slides/2.jpg); background-size: cover;}
#slide-3 {background: url(../images/slides/3.jpg); background-size: cover;}
#slide-4 {background: url(../images/slides/4.jpg); background-size: cover;}

.page-title .container {
background: -webkit-linear-gradient(right,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.2));
	background: linear-gradient(270deg,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.2));}


.page-title {
    height: 16vh;
}

.campaign-info {height: 100px;}
.campaign-card .category span {background-color: #bf1e2d; -webkit-transform: none; transform: none; font-size: 13px;}

.campaign-card img{border-top-left-radius:5px;border-top-right-radius:5px;-webkit-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg);-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out}

.campaign-card .category:after {background-color: transparent;}

.campaign-card:hover{box-shadow:0 0 20px rgba(0,0,0,.25)}
/*.campaign-card:hover img{-webkit-transform:scale(1.2) rotate(-3deg);transform:scale(1.2) rotate(-3deg)}*/

.campaign-card:hover img{-webkit-transform: none;transform: none;}

.campaign-card h5 {line-height: inherit; font-size: 16px;}

.features-row .col-md-4 {
	border-right: 1px solid #e5e5e5;
    margin-left: -1px;
    margin-top: -1px;
    position: relative;}
.features-row .col-md-4:last-child{border: 0px;}
.features-row .col-md-4 .fa {
    position: absolute;
    font-size: 6.854em;
    color: #e3e3e3;
    right: 20px;
    top: 10px;
    z-index: -1;
}

.features-row .col-md-12 {
	border: 1px solid #e5e5e5;
    margin-left: -1px;
    margin-top: -1px;
    position: relative;color: #fff;}

.features-row .col-md-12 .fa {
    font-size: 3.554em;
    color: #fff;
    left: 19px;
    top: 10px;
}

.features-row .col-md-6 {
	border: 1px solid #e5e5e5;
    margin-left: -1px;
    margin-top: -1px;
    position: relative;}
.features-row .col-md-6 .fa {
    font-size: 3.554em;
    color: #a2a2a2;
    left: 19px;
    top: 10px;
}

.pledge_btn1 {
	background-color: #bf1e2d; color:#fff;
}

.pledge_btn1 h4 {color:#fff;}

.pledge_options_icns {width:25%; padding-bottom: 10px; transition: width 300ms; -webkit-transition: width 300ms;}
.pledge_options_icns:hover {width:30%;}
.features-row .col-md-4 .fa-credit-card {top:70px;}

.contrib {padding-top: 60px;}

.campaign-card .card-footer .link-left {
	background-image: -webkit-linear-gradient(right,#1121de,#2488dd);
    background-image: linear-gradient(270deg,#1121de,#2488dd);
	background-color: #2485dd;
}

.cont_types h4 {font-size: 22px;     margin: 5px 0;}

.cont_types { -webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out; padding-top: 20px; }
.cont_types:hover {box-shadow:0 0 20px rgba(0,0,0,.25)}

.story-card p {font-size: 13px;}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


.story-card a:hover {color: #bf1e2d;}

.vdo_banner img:hover {box-shadow: 0 0 20px rgba(0,0,0,.25);}


/*======================Slider======================*/

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: relative;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*==============================slider ends---------------------------*/

.input-group-btn .subs_button {padding: 8.2px 20px; background-color:#c73946; border-color:#c73946;}

.input-group-btn .subs_button:hover {background-color: #306eb6; color: #fafafa; border: 1px solid #285992;}



/*===================================Inner pages================================*/

.page-title h2 {margin-top: 2.8em;}

.board span{       
	background-color: #ffffff !important;
    padding: .682em 3em !important;
    -webkit-transform: skew(0deg) !important;
    transform: skew(0deg) !important;
    color: #666 !important;
    border-top: 1px solid #e8e8e8;
    width: 90%;}

.board::after{background-color:#fff !important;}
.board_card h5{    color: #285992;}

.chair img {width:95%;}
.chair h3 {margin-bottom: 20px !important;}

.img-responsive2 {
    display: block;
    max-width: 121%;
    height: auto;
}


.underline2 {
    position: relative;
       padding-bottom: .01em;
    margin-bottom: .01em;
}

.center_div {margin: 20px auto 0;}

.address-wrap h4 {margin-top: 0px;}

.more_btn {padding: 5px 10px; color:#fff; background-image: -webkit-linear-gradient(right,#1121de,#2488dd);
    background-image: linear-gradient(270deg,#1121de,#2488dd);
    background-color: #2485dd;
 transition: border-radius 300ms, box-shadow 300ms; -webkit-transition: border-radius 300ms, box-shadow 300ms; width:30%; border-radius: 8px;}

.more_btn:hover {border-radius: 14px; /*box-shadow:3px 12px 3px #ccc;*/ }
.more_btn a:hover {color:#fff;}

.more_btn_red {padding: 5px 10px; color:#fff; background-image: -webkit-linear-gradient(right,#bf1e2d,#e3192c);
    background-image: linear-gradient(270deg,#bf1e2d,#e3192c);
    background-color: #bf1e2d;
 transition: border-radius 300ms, box-shadow 300ms; -webkit-transition: border-radius 300ms, box-shadow 300ms; width:30%; border-radius: 8px;}

.more_btn_red:hover {border-radius: 14px; /*box-shadow:3px 12px 3px #ccc; */}
.more_btn_red a:hover {color:#fff;}

.mt1 {line-height: normal;}

.section-header h4 {margin:0;}

/*=====================Lightbox - Modal =================================*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
	text-shadow: none;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 100px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mediaSlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.m-images img {margin-right: 10px; margin-bottom: 10px; float: left;}


/*=====================END --- Lightbox - Modal =================================*/

@media (min-width: 1200px)
{
	.container {
		width: 1050px;
	}
}