@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Martel+Sans:400,700,900|Work+Sans:800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    font-family: 'Poppins', sans-serif !important;
}
body,
html {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    color: #363636;
    font-size: 12px;
    line-height: 1.75em
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(200%);
	  transform: rotate(65deg)
  }
  100% {
    transform: translateX(0);
	  transform: rotate(5deg)
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.onload_img {  animation: rotation 8s infinite linear;
}

.nav > li > a:hover, .nav > li > a:focus {background-color:transparent !important;}
@media (min-width:600px) {
    body,
    html {
        font-size: calc(12px + 1 * ((100vw - 600px) / 540))
    }
	
		.content-section {
    padding: 0px 0px;
}
	 
}

@media only screen 
  and (min-device-width: 320px) 
	and (max-device-width: 480px) {

        .head {
            margin-top: 0px !important;
        }
		
		.HU_response div {		width: 100% !important;		min-height: 335px !important;} 
		.swiper-wrapper iframe {width: 100% !important;}
        .row.HU_response{width: 100%!important;}
        .swiper-wrapper{display: inline-flex!important;}
        .swiper-slide.swiper-slide-active a img {    width: 100%;    margin-top: 10%;}
        .cst-pop {
            width: auto !important;
        }
}

@media (min-width:1140px) {
    body,
    html {
        font-size: 13px
    }
}

a,
abbr,
acronym,
address,
b,
big,
blockquote,
caption,
center,
cite,
code,
dd,
del,
dfn,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
i,
img,
ins,
kbd,
label,
legend,
li,
ol,
p,
pre,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0
}

address,
blockquote,
dl,
ol,
p,
pre,
table,
ul {
    margin-bottom: 1.75em
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #363636;
    clear: both
}

h1 {
    font-size: 27.8543898685px;
    margin-top: .9424008253em;
    line-height: 1.1308809903em;
    margin-bottom: .1884801651em
}

@media (min-width:600px) {
    h1 {
        font-size: calc(27.8543898685px + 2.3212 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    h1 {
        font-size: 30.1755890242px;
        margin-top: .9424008253em;
        line-height: 1.1308809903em;
        margin-bottom: .1884801651em
    }
}

h2 {
    font-size: 23.5370033519px;
    margin-top: 1.1152651681em;
    line-height: 1.3383182017em;
    margin-bottom: .2514831227em
}

@media (min-width:600px) {
    h2 {
        font-size: calc(23.5370033519px + 1.96142 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    h2 {
        font-size: 25.4984202979px;
        margin-top: 1.1152651681em;
        line-height: 1.3383182017em;
        margin-bottom: .2492961927em
    }
}

h3 {
    font-size: 19.888804939px;
    margin-top: 1.3198379732em;
    line-height: 1.5838055678em;
    margin-bottom: .3037841038em
}

@media (min-width:600px) {
    h3 {
        font-size: calc(19.888804939px + 1.6574 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    h3 {
        font-size: 21.5462053505px;
        margin-top: 1.3198379732em;
        line-height: 1.5838055678em;
        margin-bottom: .3007212954em
    }
}

h4 {
    font-size: 16.8060715286px;
    margin-top: 1.5619355157em;
    line-height: 1.8743226189em;
    margin-bottom: .3681503615em
}

@media (min-width:600px) {
    h4 {
        font-size: calc(16.8060715286px + 1.40051 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    h4 {
        font-size: 18.2065774893px;
        margin-top: 1.5619355157em;
        line-height: 1.8743226189em;
        margin-bottom: .3638608801em
    }
}

h5 {
    font-size: 14.2011569368px;
    margin-top: 1.8484409486em;
    line-height: 2.2181291384em;
    margin-bottom: .3696881897em
}

@media (min-width:600px) {
    h5 {
        font-size: calc(14.2011569368px + 1.18343 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    h5 {
        font-size: 15.3845866815px;
        margin-top: 1.8484409486em;
        line-height: 2.2181291384em;
        margin-bottom: .3696881897em
    }
}

h6 {
    font-size: 12px;
    margin-top: 2.1875em;
    line-height: 2.625em;
    margin-bottom: .5104166667em
}

@media (min-width:600px) {
    h6 {
        font-size: calc(12px + 1 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    h6 {
        font-size: 13px;
        margin-top: 2.1875em;
        line-height: 2.625em;
        margin-bottom: .4739583333em
    }
}

blockquote {
    font-style: italic
}

blockquote cite {
    display: block;
    font-style: normal
}

pre {
    padding: .875em;
    margin-bottom: 1.75em
}

pre code {
    padding: 0
}

code {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, "monospace";
    padding: .0875em .2625em
}

big,
code,
small,
sub,
sup {
    line-height: 0
}

abbr,
acronym {
    border-bottom: 1px dotted currentColor;
    cursor: help
}

address {
    font-style: normal
}

dt {
    color: #363636;
    font-weight: 700
}

ul {
    padding-left: 1.1em
}

ol {
    padding-left: 1.4em
}

fieldset {
    padding: .875em 1.75em 1.75em;
    border-width: 1px;
    border-style: solid;
    max-width: 100%;
    margin-bottom: 1.8846153846em
}

@media (min-width:1140px) {
    fieldset {
        margin-bottom: 2.0192307692em
    }
}

fieldset button,
fieldset input[type=submit] {
    margin-bottom: 0
}

legend {
    color: #363636;
    font-weight: 700
}

input[type=email],
input[type=password],
input[type=text],
textarea {
    display: block;
    max-width: 100%;
    padding: .4375em;
    font-size: 12px;
    margin-bottom: 1.3461538462em
}

@media (min-width:600px) {
    input[type=email],
    input[type=password],
    input[type=text],
    textarea {
        font-size: calc(12px + 1 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    input[type=email],
    input[type=password],
    input[type=text],
    textarea {
        font-size: 13px;
        margin-bottom: .5552884615em
    }
}

button,
input[type=submit] {
    display: block;
    cursor: pointer;
    font-size: 12px;
    padding: .4375em 1.75em;
    margin-bottom: 1.1105769231em
}

@media (min-width:600px) {
    button,
    input[type=submit] {
        font-size: calc(12px + 1 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    button,
    input[type=submit] {
        font-size: 13px;
        margin-bottom: 1.3125em
    }
}

label {
    display: block;
    padding-bottom: .21875em;
    margin-bottom: -.1009615385em
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 2.4230769231em
}

@media (min-width:1140px) {
    table {
        margin-bottom: 2.1538461538em
    }
}

th {
    text-align: left;
    color: #363636;
    padding: .21875em .875em
}

@media (min-width:1140px) {
    th {
        padding: .4375em .875em
    }
}

td {
    padding: .875em;
    padding: .21875em .875em
}

@media (min-width:1140px) {
    td {
        padding: .4375em .875em
    }
}

::-moz-selection {
    background-color: #ff512f;
    color: #fff
}

::selection {
    background-color: #ff512f;
    color: #fff
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    background-color: #ff512f;
    color: #fff;
    border: 1px solid #ff512f;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

button:active,
button:focus,
button:hover,
input[type=button]:active,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:active,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=submit]:hover {
    background-color: #fff;
    color: #ff512f;
    border: 1px solid #ff512f
}

input:not([type]),
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
    border: 1px solid #fff;
    background: #fff;
    padding: .618em 1em;
    font-family: Montserrat, sans-serif
}

input:not([type]):active,
input:not([type]):focus,
input:not([type]):hover,
input[type=color]:active,
input[type=color]:focus,
input[type=color]:hover,
input[type=date]:active,
input[type=date]:focus,
input[type=date]:hover,
input[type=datetime-local]:active,
input[type=datetime-local]:focus,
input[type=datetime-local]:hover,
input[type=datetime]:active,
input[type=datetime]:focus,
input[type=datetime]:hover,
input[type=email]:active,
input[type=email]:focus,
input[type=email]:hover,
input[type=month]:active,
input[type=month]:focus,
input[type=month]:hover,
input[type=number]:active,
input[type=number]:focus,
input[type=number]:hover,
input[type=password]:active,
input[type=password]:focus,
input[type=password]:hover,
input[type=search]:active,
input[type=search]:focus,
input[type=search]:hover,
input[type=tel]:active,
input[type=tel]:focus,
input[type=tel]:hover,
input[type=text]:active,
input[type=text]:focus,
input[type=text]:hover,
input[type=time]:active,
input[type=time]:focus,
input[type=time]:hover,
input[type=url]:active,
input[type=url]:focus,
input[type=url]:hover,
input[type=week]:active,
input[type=week]:focus,
input[type=week]:hover,
textarea:active,
textarea:focus,
textarea:hover {
    border: 1px solid #f2f2f2
}

.gw-btn {
    letter-spacing: 1px;
    background-color: #ff512f;
    color: #fff;
    border: 1px solid #ff512f;
    padding: .618em 1em;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    font-family: Montserrat, sans-serif;
    font-size: 13px
}

.gw-btn:active,
.gw-btn:focus,
.gw-btn:hover {
    background-color: #fff;
    color: #ff512f;
    border: 1px solid #ff512f
}

.form-control {
    box-shadow: none;
    height: auto;
    padding: .618em 1em
}

.outer {
    display: table;
    width: 100%;
    height: 100%
}

.inner {
    display: table-cell;
    vertical-align: middle
}

.underline {
    position: relative;
    padding-bottom: .17em;
    margin-bottom: 40px !important;
}

/* .underline:after {
    content: "";
    width: 32px;
    height: 1px;
    background: #929292;
    position: absolute;
    bottom: 0;
    left: 0
} */

.address-wrap{
    border: 4px solid #225A93;
    margin-top: 21px;
}

.full-underline:after {
    width: 100%
}

.longer-underline:after {
    width: 60px
}

.text-center .underline:after {
    width: 4%;
    left: 48%
}

.text-center .longer-underline:after {
    width: 8%;
    left: 46%
}

a {
    text-decoration: none!important
}

.mbn {
    margin-bottom: 0!important
}

.mtn {
    margin-top: 0!important
}

.pbn {
    padding-bottom: 0!important
}

.ptn {
    padding-top: 0!important
}

.zero-padding {
    padding: 0!important
}

.mt1 {
    margin-top: 1em
}

.mt2 {
    margin-top: 2em
}

.mb1 {
    margin-bottom: 1em
}

.mb2 {
    margin-bottom: 2em
}

.pt1 {
    padding-top: 1em
}

.pt2 {
    padding-top: 2em
}

.pb1 {
    padding-bottom: 1em
}

.pb2 {
    padding-bottom: 2em
}

blockquote {
    border-left: 0;
    position: relative;
    margin-top: 2.618em
}

blockquote:before {
    content: "\f347";
    position: absolute;
    top: -.618em;
    font-size: 2.618em;
    color: rgba(0, 0, 0, .1);
    display: inline-block;
    font-family: Ionicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.dropcap:first-letter {
    float: left;
    font-size: 4.236em;
    line-height: 1em;
    margin-right: .618em;
    font-family: Montserrat, sans-serif;
    color: #929292
}


.navbar {
    margin-bottom: 0;
    height: 100px;/*90px;*/
    background: #fff;
	margin: 0 auto;
	width:1074px;
}

.navbar-nav a {border-bottom:1px solid hsla(0,
0%,
100%,
.25);
-webkit-transition:all .3s linear;
transition:all .3s linear
}
.navbar-brand {
    padding: 10px 15px;
    font-family: Montserrat, sans-serif;
    height: 60px
}
.navbar-nav {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0px;
}
.navbar-nav a {
    color: #285992
}
.navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 60px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
	font-size: 14px;
    color: black !important;
    font-weight: 500;
    padding: 0px;
    margin: 0px 15px;
    background-position: 0px 41px;
    background-size: 0% 4px;
}
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover {
    background: #ff512f;
    color: #fff
}
.navbar-nav .icon {
    margin-right: 10px
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background: #ff512f
}
.dropdown-menu {
    border: 0
}
.navbar-nav>li>.dropdown-menu {
    padding: 0
}
.navbar-nav>li>.dropdown-menu>li>a {
    padding: .618em;
    text-transform: capitalize;
    letter-spacing: 0
}
.navbar-nav>li>.dropdown-menu>li>a:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}
.left-separator {
    border-left: 1px solid hsla(0, 0%, 100%, .25)
}
.dark-logo {
    display: none!important
}
.head {
    height: auto;
    margin-top: 100px;
}
.head .container {
    height: 100%;
    width: 100%;
    /* background: -webkit-linear-gradient(right, rgba(255, 81, 47, .7), rgba(221, 36, 118, .7));
    background: linear-gradient(270deg, rgba(255, 81, 47, 0.49), rgba(221, 36, 36, 0.27)) */
}
.head .animate-title,
.head h1 {
    color: #fff;
    font-size: 4.236em;
    margin-top: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 1em
}
.head h1 {
    margin-bottom: 0
}
.head h2 {
    color: #fff
}
.head .gw-btn {
    margin-top: 1em
}
.page-title {
    height: 40vh
}
.page-title .container {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(right, rgba(255, 81, 47, .7), rgba(221, 36, 118, .7));
    background: linear-gradient(270deg, rgba(255, 81, 47, .7), rgba(221, 36, 118, .7))
}
.page-title h2 {
    color: #fff;
    font-size: 2.618em;
    margin-top: 0
}
.page-title h4 {
    color: #fff
}
/* .fixed-header .light-logo {
    display: none!important
} */
.fixed-header .dark-logo {
    display: inline-block!important
}
.fixed-header .navbar {
    background: #fff;
    color: #363636;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .04);
    border-bottom: 0
}
.fixed-header .left-separator {
    border-left: 1px solid #d9d9d9
}
.fixed-header .navbar-nav a {
    color: #363636
}
.navbar-toggle,
.navbar-toggle:active,
.navbar-toggle:focus {
    color: #fff;
    background-color: #BF1E2D
}
.navbar-toggle .icon-bar,
.navbar-toggle:active .icon-bar,
.navbar-toggle:focus .icon-bar {
    background-color: #fff
}

.social-media-icons-container {
    float: right;
    /* clear: both; */
    margin-top: -32px;
}

.fb-youtube {
    float: right;
}
.donate {
    background-color: #225A93;
    color: white !important;
    box-shadow: 5px 5px #bf1e2d;
    transition: 0.5s;
    padding: 15px 30px;
    transition: all .5s !important;
}
.donate:hover {
    background-color: #23527c;
    box-shadow: none;
    margin-left: 9px;
    margin-top: 9px;
    transition: 0.1s;
}

h2.testimonials {
    margin-top: 70px;
    font-weight: bold;
}

button.btn.donate-btn:hover {
    box-shadow: -6px 8px 20px 0px rgb(0 0 0 / 25%);
}

.donate-btn{
    width: 130px;
    margin-right: -11px;
}

.donate-btn-bot{
    width: 26px;
}

div#navbar {
    width: 265px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
}

.fb-youtube a {
    display: inline-block;
    
}

/*april 20-21*/
.container.vdobanner-bg {
    background-image: url(../uk-images/hutuk-home-banner2b.jpg);
    min-height: 500px;
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.vdobanner-btn {
    margin: 0 auto;
    background: #fff;
    width: 50%;
    top: 81%;
    position: absolute;
    z-index: 9999;
    left: 26%;
    text-align: left;
    padding: 30px;
    font-size: 2rem;
    color: #b73030;
    padding-left: 180px;
    box-shadow: 0px 8px 12px #f3f3f3;
	transition: all .4s;
}

.vdobanner-btn:hover {
    box-shadow: 0px 8px 20px #a2849073;
}

.vdobanner-btn img {
    width: 55px;
    float: left;
    margin-right: 10px;
}


.counters-section {
    margin-top: 0;
    margin-bottom: 50px;
}

.intro-section {margin-top:65px}


.donate-btn-large {margin: 30px 0 0;}


.endorser {
    float: left;
    width: 32%;
    border: solid 1px #CB4B57;
    padding: 10px 10px  0;
    display: flex;
    margin-right: 1%;
    box-shadow: 2px 6px 12px #ccc;
    TRANSITION: all .3s;
}
.endorser a {
    width: 100%;
}
.endorser:hover {
    transform: translateY(-10px);
}

.endorser.endorse-3 {
    margin-right: 0%;
}
.endorser .play-btn {
    width: auto;
}
.endorser:hover {
    background: #225a93;
    border-color: #225a93;
}

.endorser:hover h3,.endorser:hover p {
    color: #fff;
}
.endorser:hover h3,.endorser:hover .play-btn{
    filter:brightness(0) invert(1)
}
.endorser h3 {
    font-size: 1.3rem;
    color: #444444;
    font-weight: bold;
    line-height: normal;
    padding: 0 10px 0;
    margin: 0;
}

.endorser p {
    margin: 0;
    padding: 0 10px;
    color: #444444;
    font-size: 16px;
    line-height: 21px;
}


.supportbox-1, .supportbox-2, .supportbox-3, .supportbox-4 {    min-height: 380px !important;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .8%;
    width: 277px !important;
	transition: all .3s;
}
.row.donationboxes {
    margin-bottom: 120px;
}
.supportbox-1 {background-image: url('../uk-images/donatebox-1.png')} .supportbox-2 {background-image: url('../uk-images/donatebox-2.jpg')} .supportbox-3 {background-image: url('../uk-images/donatebox-3.jpg')}.supportbox-4 {background-image: url('../uk-images/donatebox-4.jpg');margin-right: 0;}

.supportbox-1:hover, .supportbox-2:hover, .supportbox-3:hover, .supportbox-4:hover
{
    transform: translateY(-5px);
}


.supportbox-content {
    width: 80% !important;
    background: #fff;
    margin: 0 auto;
    position: absolute!important;
    left: 10%;
    top: 83%;
    padding: 10px;
    text-align: center;
	box-shadow: 1px 13px 17px #e8e8e8;
}

.supportbox-content span {
    color: #225a93;
    font-weight: bold;
    font-size: 1.7rem;
	display: block;
}

.supportbox-content input[type="image"] {
    width: 160px;
    margin-top: 14px;
} 
/*april 20-21*/

.amazingslider-arrow-left-1 {
    width: 40px !important;
    height: 40px !important;
    background-position: left bottom !important;
}

.amazingslider-arrow-right-1 {
    width: 38px !important;
    height: 38px !important;
    background-position: right bottom !important;
}

.black{
    color: #2B2B2B;
}

.red{
    color: #bf1e2d;
}

.blue{
    color: #225A93;
}

.become-supporter {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 24px;
    margin-top: 10px;
}
.news-and-media {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 24px;
    margin-top: 10px;
}
.left-box{
    width: 49%;
    height: 380px;
    float: left;
    margin-right:10px;
    background-image: url('../uk-images/Group\ 68.png');
    background-size: 100% 100%;
    box-shadow: -9px 9px #225a93;
    transition: 0.5s;
    /* box-shadow:0 0 20px rgba(0,0,0,.25); */
   
}

.left-box:hover .left-box-text-layer a,.right-top-image:hover .right-top-text-layer a , .right-bot-image:hover .right-bot-text-layer a{

    background-color: #BF1E2D;
    border-color: #BF1E2D;
}

/* .right-top-image:hover .right-top-text-layer a{
    background-color: #BF1E2D;
    border-color: #BF1E2D;
} */

.left-box2{
    width: 49%;
    height: 530px;
    float: left;
    margin-right:10px;

}

.left-box3{
    width: 49%;
    height: auto;
    float: left;
    margin-right:10px;

}

.left-box2:nth-child(2){
    border: 4px solid #225A93;
    box-shadow: -9px 9px #BF1E2D;
    transition: 0.5s;


}

.col-1{
    /* background-color: red; */
    width: 98%;
    height: 125px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 22px;
    clear: both;
}

.col-1:last-child{

    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-text{
    /* background-color: red; */
    color: #bf1e2d;
    font-weight: bold;
}

.habib-arch{
    margin-top: 35px;
}

.icon-heading{
    font-size: 16px;
    font-weight: 500;

}

.col-2{
    /* background-color: red; */
    width: 50%;
    height: 145px;
    text-align: center;
    float: left;
    /* padding: 22px; */
}

.left-box3-img{
    text-align: left;
    border: 4px solid #225A93;
    box-shadow: -9px 9px #bf1e2d;
    transition: 0.5s;
    width: 95%;
    /* margin-top: 50px; */
    background: url(../uk-images/HU-TOPS-banner.png) no-repeat;
    height: 350px;
    background-size: contain;
}
.left-box3-img a{
    margin-left: 29%;
}

.watch-video{
    width: 160px;
}

.mar-bot-45{
    margin-bottom: 45px;
}

.mar-top-30{
    margin-top: 30px;
}

.left-box2 p, .left-box3 p {
    text-align: left;
    font-size: 15px;
    margin-top: 15%;
    padding-right: 20px;
}
.left-box3 p {
    margin-top: 0px;
    padding-right: 0px;
}

/* .left-box:hover{
    margin-left:-9px;
    margin-top: 9px;
    box-shadow:none;
    transition: 0.1s;
} */


.right-box{
    width: 49%;
    /* background-color: #225A93; */
    height: 380px;
    float: left;
    /* border: 1px solid black; */
    margin-left: 10px;
}
.right-top-image{
    width: 100%;
    height: 182px;
    /* background-color: #45B47B; */
    /* margin-top: 10px; */
    margin-bottom: 15px;
    background-image: url(../uk-images/shahzaib-alam-1.png);
    background-size: 100% 100%;
    box-shadow: 9px 9px #45b47b;
    transition: 0.5s;
}

/* .right-top-image:hover {
    margin-left:9px;
    margin-top: 9px;
    box-shadow:none;
    transition: 0.1s;
} */

.lity-content {border:solid 6px #225A93;}
.right-bot-image{
    width: 100%;
    height: 182px;
    /* background-color: #BF1E2E; */
    background-image: url(../uk-images/Sana--Rizwan.png);
    background-size: 100% 100%;
    box-shadow: 9px 9px #bf1e2e;
    transition: 0.5s;
}
/* .right-bot-image:hover {
    margin-left:9px;
    margin-top: 27px;
    box-shadow:none;
    transition: 0.1s;
} */

.left-box-text-layer{

    padding-left: 10px;
    padding-top: 220px;
}

.right-top-text-layer , .right-bot-text-layer{

    padding-left: 10px;
    padding-top: 25px;

}

.left-box-text-layer h3 , .right-top-text-layer h3 , .right-bot-text-layer h3{
    color: white;
    text-align: left;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
}
.left-box-text-layer p , .right-top-text-layer p , .right-bot-text-layer p{
    color: white;
    text-align: left;
    margin-bottom: 10px;
    /* font-weight: 600; */
    text-shadow: 1px 1px 2px #6b6b6b;
    padding-right: 40%;
}
.left-box-text-layer a , .right-top-text-layer a , .right-bot-text-layer a{
    color: white;
    text-align: left;
    border: 1px solid;
    border-radius: 9px;
    padding: 6px;
    float: left;
    text-shadow: 1px 1px 2px #6b6b6b;
    box-shadow: 1px 1px 2px #6b6b6b ;
}

.left-box-text-layer a:hover {

    background-color: #225a93;
    border-color: #225a93;
}


/* .left-box-text-layer a:hover  {

    background-color: #225a93;
    border-color: #225a93;
}
.right-top-text-layer a:hover{

    background-color: #45b47b;
    border-color: #45b47b;
}
.right-bot-text-layer a:hover{

    background-color: #bf1e2e;
    border-color: #bf1e2e;
} */


.testimonials-container{
    margin-top: 50px;

}

.testimonials-tab{
    float: left;
    width: 32%;
    height: 330px;
    margin-left: 13px;
    border: 3px solid #CB4B57;
    background-image: url(../uk-images/red-box.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 25px 25px;
}

.testimonials-tab:hover{
    box-shadow: 0 0 20px rgb(0 0 0 / 25%);
}

.testimonials-tab-container{
    padding: 10px;
}

img.testimonial-image {
    width: 40%;
    float: left;
    padding: 10px 0px 0px 10px;
}

.testimonial-heading {
    float: right;
    width: 60%;
    text-align: left;
    padding: 10px 0px 0px 20px;
    word-wrap: break-word;
}

.testimonial-heading h5 {
    line-height: 1;
}

.testimonial-desc{
    clear: both;
    text-align: left;
}

.testimonial-heading p {
    font-size: 12px;
}

.testimonial-head-container{
    height: 130px;
}


.testimonials-tab:nth-child(2){

    border: 3px solid #225A93;
    background-image: url(../uk-images/blue-box.png);
    background-repeat: no-repeat;
    background-position: right bottom;

}
.testimonials-tab:nth-child(3){

    border: 3px solid #45b47b;
    background-image: url(../uk-images/green-box.png);
    background-repeat: no-repeat;
    background-position: left top;

}
footer.container{
    background-color:#225A93;
    height: 220px;

}

.footer-logo{
    text-align: center;
    padding: 10px;
}

.footer-logo img{
    height: 40px;
}
.footer-content{
    text-align: center;
    color: white;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.dropdown-submenu {
    position: relative;
}
div#amazingslider-wrapper-1 {
    margin-top: 60px!important;
    box-shadow: 0px 4px 20px 2px #bfbfbf;
}

    .carousel-wrapper {
      width: 1200px;
      margin: auto;
      position: relative;
      text-align: center;
      font-family: sans-serif;
    }

    .owl-carousel .owl-nav {
      overflow: hidden;
      height: 0px;
    }

    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
      background: #5110e9;
    }


    .owl-carousel .item {
      text-align: center;
    }

	/* .itemBox a h5 {
    width: 85%;
    margin: -80px auto 0;
    background-color: #fff;
    z-index: 1;
    position: relative;
    padding: 10px 18px;
    font-size: 16px;
    color: #000;
    line-height: 1.6;
    text-align: left;
} */

/* h5 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

    .owl-carousel .nav-button.owl-prev{
	  height: 40px;
	  width: 40px;
      cursor: pointer;
      position: absolute;
      top: 110px !important;
	  background: url("../sliderengine/arrows-32-32-0.png") left top no-repeat !important;

    }

	.owl-dots{display: none !important;}

	.owl-carousel .nav-button.owl-next{
	  height: 40px;
	  width: 40px;
      cursor: pointer;
      position: absolute;
      top: 110px !important;
	  background: url("../sliderengine/arrows-32-32-0.png") right top no-repeat !important;

    }

	

    .owl-carousel .owl-prev.disabled,
    .owl-carousel .owl-next.disabled {
      pointer-events: none;
      opacity: 0.25;
    }

    .owl-carousel .owl-prev {
      left: -35px;
    }

    .owl-carousel .owl-next {
      right: -35px;
    }

    .owl-theme .owl-nav [class*=owl-] {
      color: #ffffff;
      font-size: 39px;
      background: #000000;
      border-radius: 3px;
    }

    .owl-carousel .prev-carousel:hover {
      background-position: 0px -53px;
    }

    .owl-carousel .next-carousel:hover {
      background-position: -24px -53px;
    }

    #mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}

    #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
	#mergeRow-gdpr {margin-top: 20px;}
	#mergeRow-gdpr fieldset label {font-weight: normal;}
	#mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}

    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }

    .why_support_banner{

        background-image: url(../uk-images/why_support_banner.png);
        height: 350px;
        background-position: center;
        background-size: cover;
    }

  

    .why-support-banner-layer {
        /* background: red; */
        width: 90%;
        height: 105px;
        position: absolute;
        margin-top: 245px;
    }

    img.why-support-banner-img-layer {
        width: 75px;
        /* margin-top: 71px; */
        margin: 5px 15px 0px 15px;
        float: left;
        /* text-align: left; */
        transition: 0.3s;
    }
    .why-support-text-layer {
        text-align: left;
        color: white;
        font-size: 32px;
        line-height: 36px;
        padding-top: 5px;
    }

    .why-support-text-layer span {
        font-weight: 600;
        font-size: 37px;
    }

    .why_support_banner:hover img.why-support-banner-img-layer{

        margin-left : 30px;
        transition: 0.5s;

    }

    .student-impact{
        font-weight: bold;
    }

    .cst-pop {
        background-color: white;
        padding: 30px;
        width: 600px;
        height: auto!important;
    }


@media only screen and (max-width:768px) {
    .navbar-collapse {
        background: #fff
    }
    
    .navbar-nav a {
        color: #363636
    }

	
	.swiper-wrapper {width: 100%; display: block;}
	.vimeo-player-cst {
    width: 100%;
}
	.vimeo-player-cst iframe {padding-top:75px; width:100%; height:210px;}
}
.content-section {
    padding: 6.854em 0;
    position: relative;
    z-index: 0
}
/* .content-section:nth-of-type(even) {
    background-color: #f8f8f8
} */
.content-section:nth-of-type(odd) {
    background-color: #fff
}
.section-header h3 {
    margin-bottom: 1em;
    margin-top: 0
}
.section-intro {
    color: #929292;
    margin-bottom: 2.618em
}
.footer {
    padding: 30px 0 0 0;
    background: #000 /*url(../images/dark-footer.png) repeat*/;
}
.footer,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
    color: #f2f2f2
}
.footer ul {
    list-style: none;
    padding-left: 0
}
.footer a {
    color: #f2f2f2;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	cursor: pointer;
}
.footer a:hover {
    color: #ff512f
}
.footer .separator {
    margin-left: 1em;
    margin-right: 1em
}
.counter-box {
    position: relative;
    text-align: center
}
.counter-box .count-icon {
    position: absolute;
    font-size: 6.854em;
    top: 1px;
    right: 0;
    left: -1px;
    bottom: 0;
    margin: auto;
    z-index: -1;
    color: #dee9f6;
}
.content-section:nth-of-type(even) .count-icon {
    color: #e5e5e5
}
.campaign-card {
    background: #fff;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, .1); */
    text-align: center;
    overflow: hidden;
    margin-bottom: 1.618em;
	transition: all .3s linear;
}
.campaign-card h5 {
    margin-top: 10px;
}
.campaign-card img {
    -webkit-transform: scale(1.2) rotate(-3deg);
    transform: scale(1.2) rotate(-3deg);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.campaign-card:hover h5{
    box-shadow: 0 0 20px rgba(0, 0, 0, .25)
}
.campaign-card:hover img {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg)
}
.campaign-card h5 {
    margin-top: 0
}
.campaign-card .campaign-info {
    width: 80%;
    margin: -30px 10% 0;
    padding: 10px 0;
    background: #fff;
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}
.campaign-card .campaign-info p {
    text-align: left
}
.campaign-card .category {
    margin-bottom: 1em;
    position: relative;
    z-index: 0
}
.campaign-card .category span {
    display: inline-block;
    padding: .382em 1em;
    background-color: #ff512f;
    color: #fff;
    margin: auto;
    line-height: 1em;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    border-radius: 2px
}
.campaign-card .category:after {
    content: "";
    height: 1px;
    z-index: 2;
    background-color: #ff512f;
    left: 20%;
    right: 20%;
    position: absolute;
    bottom: 50%;
    z-index: -1
}
.campaign-card .campaign-status {
    background: #f2f2f2;
    padding: 0;
    padding-bottom: 1em
}
.campaign-card .campaign-status .progress-bar {
    height: 10px;
    position: relative;
    background: #e5e5e5;
    width: 100%;
    box-shadow: none;
    margin-bottom: 1em
}
.campaign-card .campaign-status .progress-bar span {
    display: block;
    height: 100%;
    position: relative
}
.campaign-card .campaign-status p {
    margin-bottom: 0
}
.campaign-card .card-footer a {
    color: #fff;
    text-align: center;
    width: 50%;
    display: inline-block;
    text-transform: uppercase;
    padding: .618em 0;
    font-family: Montserrat, sans-serif;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}
.campaign-card .card-footer a:hover {
    background: #fff;
    color: #bf1e2d
}
.campaign-card .card-footer .link-left {
    background-color: #ff512f;
    background-image: -webkit-linear-gradient(right, #ff512f, #dd2476);
    background-image: linear-gradient(270deg, #ff512f, #dd2476);
    float: left;
    border-radius: 0 0 0 5px
}
.campaign-card .card-footer .link-right {
    background-color: #000;
    background-image: -webkit-linear-gradient(right, #000, #434343);
    background-image: linear-gradient(270deg, #000, #434343);
    float: right;
    border-radius: 0 0 5px 0
}
.campaign-details {
    text-align: left;
    padding: 2.618em
}
.donate-onpage {
    text-align: left
}
.single-campaign .campaign-card .campaign-info {
    margin-top: 0
}
.shop-card {
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1.618em
}
.shop-card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}
.shop-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .25)
}
.shop-card h5 {
    margin-top: 0
}
.shop-card .shop-info {
    width: 80%;
    margin: -30px 10% 0;
    padding: 10px 0;
    background: #fff;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}
.shop-card .shop-info p {
    text-align: left
}
.shop-card .category {
    margin-bottom: 1em;
    position: relative;
    z-index: 0
}
.shop-card .category span {
    display: inline-block;
    padding: .382em 1em;
    background-color: #ff512f;
    color: #fff;
    margin: auto;
    line-height: 1em;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    border-radius: 2px
}
.shop-card .category:after {
    content: "";
    height: 1px;
    z-index: 2;
    background-color: #ff512f;
    left: 20%;
    right: 20%;
    position: absolute;
    bottom: 50%;
    z-index: -1
}
.shop-card .shop-status {
    background: #f2f2f2;
    padding: 0;
    padding-bottom: 1em
}
.shop-card .shop-status .progress-bar {
    height: 10px;
    position: relative;
    background: #e5e5e5;
    width: 100%;
    box-shadow: none;
    margin-bottom: 1em
}
.shop-card .shop-status .progress-bar span {
    display: block;
    height: 100%;
    position: relative
}
.shop-card .shop-status p {
    margin-bottom: 0
}
.shop-card .card-footer a {
    color: #fff;
    text-align: center;
    width: 50%;
    display: inline-block;
    text-transform: uppercase;
    padding: .618em 0;
    font-family: Montserrat, sans-serif;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}
.shop-card .card-footer a:hover {
    background: #fff;
    color: #ff512f
}
.shop-card .card-footer .link-left {
    background-color: #ff512f;
    background-image: -webkit-linear-gradient(right, #ff512f, #dd2476);
    background-image: linear-gradient(270deg, #ff512f, #dd2476);
    float: left;
    border-radius: 0 0 0 5px
}
.shop-card .card-footer .link-right {
    background-color: #000;
    background-image: -webkit-linear-gradient(right, #000, #434343);
    background-image: linear-gradient(270deg, #000, #434343);
    float: right;
    border-radius: 0 0 5px 0
}
.shop-categories {
    list-style: none
}
.shop-categories li {
    padding: 1em;
    border: 1px dashed #e5e5e5;
    font-family: Montserrat, sans-serif;
    background: #f2f2f2;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}
.shop-categories li a {
    color: #ff512f;
    display: block
}
.shop-categories li:hover {
    background: #fff
}
.shop-overview input[type=text] {
    background: #f2f2f2;
    border-color: #f2f2f2
}
.shop-description {
    margin-top: 1.618em
}
.shop-description .nav-tabs {
    border-bottom: 0;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%
}
.shop-description .nav-tabs li {
    display: table-cell;
    text-align: center;
    float: none
}
.shop-description .nav-tabs li>a {
    background: #f2f2f2;
    border-bottom: none;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    margin-right: 0
}
.shop-description .nav-tabs li.active>a {
    background: #fff
}
.shop-description .tab-content {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .04);
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-top: 0;
    padding: 1.618em
}
.related-products {
    padding: 1.618em;
    margin: 1.618em;
    text-align: left
}
.story-card {
    background: #fff;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    margin-bottom: 1.618em;
    overflow: hidden
}
.story-card a {
    color: #363636
}
.story-card a:hover {
    color: #ff512f
}
.story-card .col-md-5 {
    overflow: hidden
}
.story-card img {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}
.story-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .25)
}
.story-card:hover img {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg)
}
.features-row .col-md-3,
.features-row .col-md-6 {
    border: 1px solid #e5e5e5;
    margin-left: -1px;
    margin-top: -1px;
    position: relative
}
.features-row .col-md-3:last-child {
    margin-left: -2px
}
.features-row .col-md-3 .bg-icon {
    position: absolute;
    font-size: 6.854em;
    color: #f2f2f2;
    right: 20px;
    top: 0;
    z-index: -1
}
.content-section:nth-of-type(even) .bg-icon {
    color: #e5e5e5
}
.feature-diff {
    padding: 0 1.618em
}
.black-gradient {
    background-color: #000;
    background-image: -webkit-linear-gradient(right, #000, #434343);
    background-image: linear-gradient(270deg, #000, #434343);
    color: #fff
}
.black-gradient h2,
.black-gradient h3,
.black-gradient h4 {
    color: #fff
}
.img-box {
    margin-top: 11px;
    border-radius: 0px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1)
}
.ul-style-1 {
    list-style: none
}
.ul-style-1 li {
    margin-bottom: .618em
}
.ul-style-1 .list-icon {
    margin-right: 10px;
    background: #ff512f;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #fff
}
.donate-form-wrap {
    background: #f2f2f2
}
.donate-form-wrap input[type=submit] {
    margin: auto
}
input:active,
input:focus {
    outline: 2px solid #d9d9d9
}
input[type=email],
input[type=text] {
    width: 100%
}
legend {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    border-bottom: 0;
    margin-top: 1em
}
.input-group-addon {
    border: 0;
    background-color: #e5e5e5
}
fieldset {
    border-width: 0
}
fieldset ul {
    list-style: none
}
fieldset ul li {
    display: inline-block
}
fieldset ul li label {
    display: inline-block;
    float: right;
    margin-left: 1em;
    margin-right: 1.618em
}
.contact-form-wrap input,
.contact-form-wrap textarea {
    background: #f2f2f2;
    border: 0
}
.contact-form-wrap input:active,
.contact-form-wrap input:focus,
.contact-form-wrap textarea:active,
.contact-form-wrap textarea:focus {
    outline: 2px solid #d9d9d9;
    box-shadow: none
}
.swiper-container,
.swiper-slide .outer {
    width: 100%;
    height: 100%
}
.swiper-slide .outer {
    display: table
}
.swiper-slide .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}
.swiper-slide h2 {
    font-size: 4.236em
}
#slide-1 {
    background: url(http://placehold.it/1080x718?text=kids-img-1) 50% no-repeat;
    background-size: cover
}
#slide-2 {
    background: url(http://placehold.it/1080x718?text=kids-img-2) 50% no-repeat;
    background-size: cover
}
#slide-3 {
    background: url(http://placehold.it/1080x718?text=kids-img-3) 50% no-repeat;
    background-size: cover
}
#slide-4 {
    background: url(http://placehold.it/1080x718?text=kids-img-4) 50% no-repeat;
    background-size: cover
}
.page-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1031;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #ff512f;
    background-image: -webkit-linear-gradient(right, #ff512f, #dd2476);
    background-image: linear-gradient(270deg, #ff512f, #dd2476)
}
.disable-loader {
    display: inline-block;
    color: hsla(0, 0%, 100%, .6);
    position: absolute;
    bottom: 20px;
    right: 30px;
    border: 1px dashed hsla(0, 0%, 100%, .6);
    padding: .382em;
    border-radius: 5px;
    cursor: pointer
}
.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}
.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-animation: a 2.4s infinite linear both;
    animation: a 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotate(90deg);
    transform: scale(1.1) rotate(90deg)
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotate(180deg);
    transform: scale(1.1) rotate(180deg)
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotate(270deg);
    transform: scale(1.1) rotate(270deg)
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}
@-webkit-keyframes a {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0
    }
    
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1
    }
    
    90%,
    to {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0
    }
}
@keyframes a {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0
    }
    
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1
    }
    
    90%,
    to {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0
    }
}
@media only screen and (max-width:768px) {
    .counter-title {
        text-align: center
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .counter-title {
        text-align: center
    }

    .right-box , .left-box {
        width: 48%;
    }
    .right-top-text-layer
    {
        padding-top: 5px;
    }

    .testimonials-tab {
        width: 31%;
        height: 577px;

    }

    .student-impact{
        margin-top: -20px;
    }

    .become-supporter, .news-and-media {
        margin-top: 30px;
    }
    h2.testimonials {
        margin-top: 30px;
    }

    .testimonials-container {
        margin-top: 0px;
    }
    .owl-nav {
        display: none;
    }

    .social-media-icons-container {
        float: right;
        /* clear: both; */
        margin-top: -63px;
        margin-right: 310px;
    }

    div#navbar {
        width: 425px;
        margin-left: 170px;
        margin-right: auto;
        margin-top: 20px;
    }
}
@media only screen and (max-width:370px)
	
{
	
	    .donate-btn {
        margin-top: 28px;
        width: 130px;
        margin-left: 46px;
    }
}

@media only screen and (max-width:599px){

    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }


	.endorser {
    width: 100%;
    margin-bottom: 3%;
}
	
	.endorser img {
    width: 100%;
}
	
	
	.vdobanner-btn {margin: 0 auto;
    background: #fff;
    width: 91%;
    top: 81%;
    position: absolute;
    z-index: 9999;
    left: auto;
    text-align: left;
    padding: 10px;
    font-size: 2rem;
    color: #b73030;
    padding-left: 8px;
    box-shadow: 0px 8px 12px #f3f3f3;}
	
	.vdobanner-btn img {
    width: 55px;
    float: left;
    margin: 12px;
}
	.container.vdobanner-bg {
    background-image: url(../uk-images/hutuk-home-banner-mobile.jpg);
    min-height: 360px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
	img.play-btn {
    width: 56px;
    margin-left: 5px;
}
    .fb-youtube{
        display: none;
    }

    .navbar-brand{
        padding: 2px 10px !important;
    }
.navbar-fixed-top 
	{
		height: 90px !important;
	}
    .donate-btn {
        margin-top: 28px;
        width: 130px;
        margin-left: 96px;
    }

    .left-box2 {

        width: 100%;
        height: auto;
        box-shadow: none !important;

    }

    .habib-arch img {
        width: 100%;
        /* margin-top: 21%; */
    }

    .left-box3 {
        width: 100%;
        height: auto;
      
    }

    .left-box3-img{
        width : 100%;
        box-shadow: none;
        
    }

    .left-box {
        width: 100%;
        height: 300px;
        box-shadow: none;
        border: 4px solid #225A93;
        background-size: cover;

    }
    .right-box{
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
        height: auto;
    }

    .right-top-image{
        box-shadow: none;
        width: 100%;
        height: 300px;
        border: 4px solid #45b47b;
        background-size: cover;
        background-position: right;
    }

    .right-bot-image{
        box-shadow: none;
        width: 100%;
        height: 300px;
        border: 4px solid #BF1E2D;
        background-size: cover;
        background-position: right center;
    }

    .testimonials-tab {
        float: left;
        width: 100%;
        height: auto;
        margin-bottom: 13px;
        margin-left: 0px;
    }
    
    .counter-box {
    width: 100% !important;
    float: left;
    overflow: hidden;
    display: block;
    padding: 0;
}
	
    footer.container {
        height: auto;
    }

    h2.testimonials {
        margin-top: 35px;
    }

    .news-and-media {
        margin-top: 10px;
        margin-bottom: -15px;
    }

    .left-box3-img{
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .left-box3 p {
        margin-bottom: 0px;
    }

    .left-box-text-layer , .right-top-text-layer , .right-bot-text-layer{
        padding-top: 85px;
        

    }

    .owl-controls{
        display: none;
    }

    .campaign-card h5 {
        padding: 5px !important;
        margin-top: 0px !important;
        position: relative !important;
        width: 100% !important;
        height: 165px !important;
        border: none !important;

    }
    
    .navbar{
        height: auto;
    }

    .navbar-brand>img {
        height: 84px;
    }

    .testimonials-container{
        margin-top: 0px;
    }

    .become-supporter{
        margin-top: 20px;
    }

    .student-impact{
        margin-top: -30px;
    }
    
    .why_support_banner {
        height: 150px;
        background-position: center;
        background-size: cover;
    }

    /* .why-support-banner-layer {
        background: red;
        width: 90%;
        height: 55px;
        position: absolute;
        margin-top: 95px;
    } */

    .why-support-banner-layer {
        /* background: red; */
        width: 90%;
        height: 55px;
        position: absolute;
        margin-top: 95px;
    }

    img.why-support-banner-img-layer {
        width: 40px;
        /* margin-top: 71px; */
        margin: 5px 10px 0px 10px;
        float: left;
        /* text-align: left; */
    }
    .why-support-text-layer {
        text-align: left;
        color: white;
        font-size: 14px;
        line-height: 18px;
        padding-top: 8px;
    }

    .why-support-text-layer span {
        font-weight: 600;
        font-size: 15px;
    }

    
  


}




/* Syed Arsalan Ali CSS */
/* header  */
.para-set {
    margin: 0;
    padding-top: 40px !important;
}
.donate-area {
    width: 10%;
}
header.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.main-header .donate-btn-large {
    margin: 0;
    width: 135px;
}
.fixed-header header.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    left: 0;
    padding: 10px 45px;
    animation: smoothScroll 1s forwards;
    box-shadow: 0 0 9px 1px #00000073;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
a.donate-now {
    font-size: 18px;
    border: 1px solid;
    padding: 10.5px 27px;
    font-weight: 700;
}
/* .main-banner-wrap {
    padding: 0 25px;
} */
.fixed-header img.header-logo {
    width: 55%;
}

.navbar-nav>li>a:active, .navbar-nav>li>a:focus, .navbar-nav>li>a:hover
{    
  color: black;
  background:transparent !important;
  background-size: 100% 4px;
  background-position: 0px 41px;
  transition: 0.5s;
}
/* .nav li{
    position: relative;
}
.nav li:after{
    content: '';
    height: 2px;
    width: 0%;
    background: #225A93;
    position: absolute;
    bottom: 0;
    transition: all .5s;
}
.nav li.active:after{
    width: 100%;
} */


  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: table;
    margin: 0 auto;
    display: flex;
  }
  
  nav ul li a {
    padding: 4px 0;
    display: block;
    color: #23527c;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin: 0 20px;
    font-size: 16px;
  }
  nav ul li a:hover {
    color: #BF1E2D;
  }
  nav ul .active a {
    color: #bf1e2d;
    border-bottom: 3px solid #bf1e2d;
  }
 
  
 
/* header  */

/* Banner */
.main-banner .main-banner {
    width: 100%;
}

.main-banner {
    position: relative;
}
.banner-content h1 span {
    font-weight: 400;
}

.banner-content h1 {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    text-align: center;
}
.banner-content {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .play-icon-hover {
    position: absolute;
    left: 0;
    z-index: 0;
    opacity: 0;
    transition: all 0.5s;
} */

a.right-video-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 15px;
}

.play-bn-btn {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
}
.play-icon-hover {
    opacity: 1;
    transition: all 0.5s;
}
.main-banner:hover .play-icon-hover{
    opacity: 0;
}
.main-banner:hover .play-bn-btn{
    opacity: 1;
}
/* a.right-video-icon {
    position: absolute;
    bottom: 0;
    right: 2%;
    bottom: 6%;
} */

.section-header span {
    font-size: 42px;
}
.perc-sign{
    font-size: 50px !important;
    background: #fff;
    position: absolute !important;
    right: -14px;
    z-index: 9999;
}
.count-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.count-info h3 {
    /* color:#285992; */
    display: flex;
    font-size: 50px;
    justify-content: center;
    border-radius: 50%;
    width: 210px;
    height: 250px;
    text-align: center;
    align-items: center;
    position: relative;
    background: none;
    color: #225A93;
    box-sizing: border-box;
    border: 0;
}
.count-info ::before, .count-info ::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: auto;
    height: 100%;
}
.deflt-spin::before {
    border: 2px solid transparent;
}
.spin::before {
    border-top-color: #225A93;
    border-left-color: #225A93;
    border-bottom-color: #225A93;
    transition: border-top-color 0.15s linear, border-left-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}
.deflt-spin::after {
    border: 0 solid transparent;
}
.spin::after {
    border-left: 2px solid #225A93;
    border-bottom-width: 2px;
    border-top-width: 2px;
    transform: rotate(-180deg);
    transition: transform 0.9s linear 0s, border-top-width 0s linear 0.35s;
}
.circle {
    border-radius: 100%;
    box-shadow: none;
}
.circle::before, .circle::after {
    border-radius: 100%;
}
/* span.br-set:after {
   position: absolute;
   top: 0;
   right: 0;
   background-image: url(../uk-images/border-top.png);

} */

/* Custom Css */

/* CSS Document */


@import url('https://fonts.googleapis.com/css?family=Martel+Sans:400,700,900|Work+Sans:800');

.row{margin-right: 0px; margin-left: 0px;}

.swiper-container {height:593px; /*666px;*/}

.slider_arrows {margin-bottom: 22% !important;}

.swiper-slide .outer {
    display: table;
    background: rgba(152, 152, 152, 0.21);
}
.swiper-slide .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 42px;
    text-shadow: 2px 1px 1px #5f5f5f;
}

.swiper-slide .inner span{
    width: 70%;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}
.cst-pop{
    background-color: white;
    padding: 30px;
    width: 600px;
}
.item.campaign-card.fstbx {
    min-height: 272px;
}
.vimeo-player-cst {
	width: 100%;
    display: block;
    /* margin: 0 auto; */
    text-align: center;
	margin-top: -55px;
}
.cst-pop img {
    margin: 0 auto;
    display: flex;
}

a {color: #d61111;}

p {
  font-size: 16px;
  line-height: 25px;
}

.count-info h3 span {
	font-size: 80px;
	font-weight: 400;
	position: relative;
}
.count-info p span {
	font-size: 24px;
	font-weight: 700;
	margin: 10px 0;
	display: block;
}


.HU_response div {
    width: 270px;
    float: left;
    margin-right: 20px;
    min-height: 310px;
    height: 170px;
}

.HU_response img {
    width: 100%;
}

.row.HU_response {
    width: 870px;
    background: ;
    margin: 0 auto;
}


.left-separator {
    border-left: 1px solid hsla(0, 0%, 71%, 0.25);
}

.section-header h3 {font-weight: bold; text-transform: uppercase;}

.count_img {width:30%; transition: width 300ms; -webkit-transition: width 300ms;}
/*.count_img:hover {width: 40%}*/

::selection {
    background-color: #9a0000;
    color: #fff;
}
.row-cst{
    display: flex;
    justify-content: center;
}

.campaign-card .campaign-info {margin: -30px 10% 12px;}
.campaign-card-eye .campaign-info {margin: -30px 10% 12px;}
.count-info p {color: #000;}


.content-section {
	padding: 10px 0px;} 

.page-loader{position:fixed;width:100%;height:100%;z-index:1031;top:0;left:0;text-align:center;background-color:#ff512f;background-image:-webkit-linear-gradient(right,#285992,#1a7d96);background-image:linear-gradient(270deg,#285992,#1a7d96)}

.donate_btn {   background: #bf1e2d;color: #fff !important; }
.donate_btn a {color: #fff !important;}

.selected_nav {
    border-bottom:3px solid #285992;
    color: #285992 !important;
}


/* .head .container { background: -webkit-linear-gradient(right,rgba(255, 0, 0, 0.7),rgba(221,36,118,.7));
    background: linear-gradient(270deg,rgba(247, 0, 0, 0.49),rgba(221, 36, 36, 0.27));} */
.navbar-brand {padding: 2px 10px !important;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { background: #2581dc;}

.campaign-card .card-footer a {width:100%;}
.gw-btn {background-color: #285992; border: 1px solid #245894;}

.gw-btn:active, .gw-btn:focus, .gw-btn:hover {
    background-color: #306eb6;
    color: #fafafa;
    border: 1px solid #285992;
}

span.count-icon:hover {
    color: #000;
}

#slide-1 {background: url(../images/slides/1.jpg); background-size: cover;}
#slide-2 {background: url(../images/slides/2.jpg); background-size: cover;}
#slide-3 {background: url(../images/slides/3.jpg); background-size: cover;}
#slide-4 {background: url(../images/slides/4.jpg); background-size: cover;}

.page-title .container {
background: -webkit-linear-gradient(right,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.2));
	background: linear-gradient(270deg,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.2));}


.page-title {
    height: 16vh;
}

.campaign-info {height: 100px;}
.campaign-card .category span {background-color: #bf1e2d; -webkit-transform: none; transform: none; font-size: 13px;}

.campaign-card img{border-top-left-radius:0px;border-top-right-radius:0px;-webkit-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg);-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out}

.campaign-card .category:after {background-color: transparent;}

/* .campaign-card:hover{box-shadow:0 0 20px rgba(0,0,0,.25)} */
/*.campaign-card:hover img{-webkit-transform:scale(1.2) rotate(-3deg);transform:scale(1.2) rotate(-3deg)}*/

.campaign-card:hover img{-webkit-transform: none;transform: none;}

.campaign-card h5 {    
  padding: 12px;
  margin-top: -26px;
  line-height: normal;
  font-size: 13px;
  font-weight: 600;
  min-height: 60px;
  position: relative;
  background: white;
  width: 70%;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;}
.campaign-card-eye:hover img{-webkit-transform: none;transform: none;}

.campaign-card-eye h5 { line-height: normal; font-size: 14px; font-weight: 600;}
.features-row .col-md-4 {
	border-right: 1px solid #e5e5e5;
    margin-left: -1px;
    margin-top: -1px;
    position: relative;}
.features-row .col-md-4:last-child{border: 0px;}
.features-row .col-md-4 .fa {
    position: absolute;
    font-size: 6.854em;
    color: #e3e3e3;
    right: 20px;
    top: 10px;
    z-index: -1;
}

.features-row .col-md-12 {
	border: 1px solid #e5e5e5;
    margin-left: -1px;
    margin-top: -1px;
    position: relative;color: #fff;}

.features-row .col-md-12 .fa {
    font-size: 3.554em;
    color: #fff;
    left: 19px;
    top: 10px;
}

.features-row .col-md-6 {
	border: 1px solid #e5e5e5;
    margin-left: -1px;
    margin-top: -1px;
    position: relative;}
.features-row .col-md-6 .fa {
    font-size: 3.554em;
    color: #a2a2a2;
    left: 19px;
    top: 10px;
}

.pledge_btn1 {
	    background-color: #e8e8e8;
    color: #326197;
    padding-top: 7.8%!important;
}

.pledge_btn1 h4 {color:#285992;}

.pledge_options_icns {width:25%; padding-bottom: 10px; transition: width 300ms; -webkit-transition: width 300ms;}
/*.pledge_options_icns:hover {width:30%;}*/
.features-row .col-md-4 .fa-credit-card {top:70px;}

.contrib {padding-top: 60px;}

.campaign-card .card-footer .link-left {
	background-image: -webkit-linear-gradient(right,#1121de,#2488dd);
    background-image: linear-gradient(270deg,#1121de,#2488dd);
	background-color: #2485dd;
}
.cont_types {background: #fff;}
.cont_types h4 {font-size: 22px;     margin: 5px 0; color: #285992;}

.cont_types { -webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out; padding-top: 20px; }
.cont_types:hover {box-shadow:0 0 20px rgba(0,0,0,.25)}

.story-card p {font-size: 13px;}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


.story-card a:hover {color: #bf1e2d;}

.vdo_banner img:hover {box-shadow: 0 0 20px rgba(0,0,0,.25);}

.story-card:hover img {
    -webkit-transform: none;
    transform: none;
}


/*======================Slider======================*/

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: relative;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*==============================slider ends---------------------------*/

.input-group-btn .subs_button {padding: 8.2px 20px; background-color:#c73946; border-color:#c73946;}

.input-group-btn .subs_button:hover {background-color: #306eb6; color: #fafafa; border: 1px solid #285992;}



/*===================================Inner pages================================*/

.page-title h2 {margin-top: 2.8em;}

.board span{       
	background-color: #ffffff !important;
    padding: .682em 3em !important;
    -webkit-transform: skew(0deg) !important;
    transform: skew(0deg) !important;
    color: #666 !important;
    border-top: 1px solid #e8e8e8;
    width: 90%;}

.board::after{background-color:#fff !important;}
.board_card h5{    color: #285992;}

.chair img {width:95%; margin-top: 2%;}
.chair h3 {margin-bottom: 20px !important;}

.nospace-left {padding-left: 0px;}

.img-responsive2 {
    display: block;
    max-width: 121%;
    height: auto;
}


.underline2 {
    position: relative;
    padding-bottom: .17em;
    margin-bottom: .50em !important;
}
/* .underline2::after {
	content: "";
    width: 32px;
    height: 1px;
    background: #bf1e2d;
    position: absolute;
    bottom: 0;
    left: 0;
} */

.underline2 a {color:#285992;}

.center_div {margin: 20px auto 0;}

.address-wrap h4 {margin-top: 0px;}

.more_btn {padding: 5px 10px; color:#fff; background-image: -webkit-linear-gradient(right,#1121de,#2488dd);
    background-image: linear-gradient(270deg,#1121de,#2488dd);
    background-color: #2485dd;
 transition: border-radius 300ms, box-shadow 300ms; -webkit-transition: border-radius 300ms, box-shadow 300ms; width:30%; border-radius: 8px;}

.more_btn:hover {border-radius: 14px; /*box-shadow:3px 12px 3px #ccc;*/ }
.more_btn a:hover {color:#fff;}

.more_btn_red {padding: 5px 10px; color:#fff; background-image: -webkit-linear-gradient(right,#bf1e2d,#e3192c);
    background-image: linear-gradient(270deg,#bf1e2d,#e3192c);
    background-color: #bf1e2d;
 transition: border-radius 300ms, box-shadow 300ms; -webkit-transition: border-radius 300ms, box-shadow 300ms; width:30%; border-radius: 8px;}

.more_btn_red:hover {border-radius: 14px; /*box-shadow:3px 12px 3px #ccc; */}
.more_btn_red a:hover {color:#fff;}

.mt1 {line-height: normal;}

.section-header h4 {margin:0;}

.container-fluid {padding-left: 5px;}

/*=====================Lightbox - Modal =================================*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.61);
	text-shadow: none;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 100px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mediaSlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow2 {
  transition: 0.3s;
	cursor: pointer;

}

.hover-shadow2:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.hover-shadow {
  transition: 0.3s;
	width:162px;
	margin-bottom: 3px;
	cursor: pointer;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.m-images img {margin-right: 10px; margin-bottom: 10px; float: left;}

.board_card {border-radius: 0px;     box-shadow: 0 0 3px rgba(0, 0, 0, 0); border:solid 1px #285992;}

.board_card .campaign-info {margin: 0px 10% 12px !important;     height: 61px !important;}

li.left-separator.donate_btn.cst {
    text-align: center;
	background: white;
	list-style-type: none;
	border: 1px solid #bf1e2d;
	width: 94%;
	margin: 0 auto;
	padding: 20px 10px;
	border-radius: 4px;
}
li.left-separator.donate_btn.cst a {
    text-align: center;
    color: #bf1e2d!important;
        font-size: 13px;
}
.mobledonatetop{
        display: block;
    }
/*=====================END --- Lightbox - Modal =================================*/

@media (min-width: 1200px)
{
	.container {
		width: 1050px;
	}
    li.left-separator.donate_btn.cst {
    display: none;
    }
    .mobledonatetop{
        display: none!important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
  
 .desktopdonatetop{display:none!important;}
  
}



.padding-inline{
    padding: 0 6% !important;
}
.become-supp-area{
    background-image: url(../uk-images/becom-supporter-banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
section.content-section.counters-section.become-supp-area {
    padding: 40px 0 70px;
    margin-bottom: 0;
}
footer.main-footer {
    background-color: #225a93;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 33px 0px;
    position: relative;
}
a.video-click-open {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
section#section3 {
    padding: 30px 0;
}
/* Banner */


/* Counter Animation */
 
 .anima-loa-active .loader {
    width: 247px;
    height: 247px;
    /* transform: rotate(
-90deg); */
    stroke-linecap: round;
    stroke-width: 2;
    fill: none;
}
img.header-logo {
    width: 79%;
}
.load-anim {
    position: absolute;
    top: 0;
}
.count-info p span {
    color: #285992;
}
  .anima-loa-active .loader .external-circle {
    stroke: #BF1E2D;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke-dasharray: 312;
    animation: external 2s linear;
    opacity: 0.9;
  }
  @keyframes external {
    0% {
      stroke-dashoffset: 312;
    }
    100% {
      stroke-dashoffset: 612;
    }
  }
  
/* Counter Animation */

/* New */
section.hu-highlights {
    padding: 0 0 50px;
}
.community-slider .light-box {
    height: inherit;
    margin: 0;
    box-shadow: 0 0px 14px 1px rgb(0 0 0 / 10%);
    width: 100%;
    transition: all 0.9s;
}
.hvr-bx {
    overflow: hidden;
    width: 100%;
}
.hvr-bx img {
    transform: scale(1);
    transition: all 0.9s;
    width: 100%;
}
.community-slider .light-box:hover img {
    transform: scale(1.2);
}
.community-slider .light-box:hover img {
    transform: scale(1.2);
}
.community-slider .owl-item {
    height: 100% !important;
    display: flex;
}


.community-slider .owl-stage {
    display: flex;
    align-items: stretch;
    padding: 10px 5px;
}
.community-slider .owl-stage-outer{
    display: flex !important;
}
.community-slider .light-box p{
    font-weight: 400;
    line-height: 20px;
}
.community-slider.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #bf1e2d;
}
.community-slider.owl-theme .owl-dots .owl-dot span {
    width: 32px;
    height: 3px;
    background: #225a93;
}
.light-box p {
    padding: 13px 14px;
    font-weight: 600;
    color: #000;
}
.community-slider .owl-dots {
    display: block !important;
}
/* New */
/* FOoter */
.foote-content {
    display: flex;
    align-items: flex-start;
    padding-top: 35px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.footer-right {
    margin-left: 45px;
}
.footer-right p {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    padding-top: 20px;
}
.foot-conta-det li a {
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
    list-style: none;
}
.endorser img {
    width: 100%;
}
.row.center-foot {
    display: flex;
    justify-content: center;
}
ul.foot-conta-det {
    list-style: none;
    padding: 0;
}

.foot-conta-det li {
    line-height: 40px;
}
.main-footer::after {
    content: '';
    position: absolute;
    top: 0;
    background-image: url(../uk-images/footerbefore.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    right: 0;
    background-position: top right;
    pointer-events: none;
}
.main-footer::before {
    content: '';
    position: absolute;
    bottom: 0;
    background-image: url(../uk-images/foot-logo-before.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    left: 0;
    background-position: left bottom;
    pointer-events: none;
}

.social-links h2 {
    font-size: 24px;
    color: #Fff;
    padding-bottom: 10px;
    margin-top: 8px;
}

.social-links li a i {
    color: #fff;
}

.social-links li {
    margin-right: 29px;
    display: flex;
    align-items: center;
}

ul.socail-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 19px;
}
.endor-detail {
    display: flex;
    align-items: center;
    padding: 12px 0;
}
.social-links {
    display: flex;
    align-items: center;
    flex-direction: column;
}
p.copy-rigth {
    font-size: 14px;
}
section#section2 a.donate {
    padding: 17px 41px;
    font-size: 16px;
}
/* FOoter */


/* Responsive CSS */


@media (max-width:1600px) {
    .donate-area {
        width: 9%;
    }
    .donate {
        padding: 8px 13px;
    }
    header.main-header {
        padding: 11px 0;
    }
    .fixed-header header.main-header {
        padding: 2px 45px;
    }
    .count-info p {
        font-size: 20px;
        line-height: 26px;
    }
}
@media (max-width:1440px) {
    .donate-area {
        width: 11%;
    }
.foote-content li a {
    font-size: 18px;
}
.foote-content p br {
    display: none;
}
.become-supp-area p {
    font-size: 16px;
}
.content-section p {
    font-size: 16px;
}
.count-info h3 {
    width: 180px !important;
    height: 208px !important;
}
.count-info h3 span {
    font-size: 55px !important;
}
.anima-loa-active .loader {
    width: 197px;
    height: 207px;
}
}

@media (max-width:1280px) {
    .row-cst {
        justify-content: space-around;
    }
    .content-section p {
        font-size: 14px;
        line-height: 21px;
    }
    .foot-conta-det li {
        line-height: 33px;
    }
    .row-cst {
        overflow: hidden;
    }
    
    .main-footer::before {
        background-size: 13%;
    }
    .main-footer::after {
        background-size: 25%;
    }
    .donate-area {
        width: 12%;
    }
}
@media (max-width:993px) {
.donate {
    padding: 8px 7px;
}
.donate-area {
    width: 13%;
}
}
@media (max-width:768px) {
    .banner-content h1 {
        font-size: 34px;
        font-weight: 700;
        line-height: 41px;
    } 
    .main-banner:hover .play-icon-hover {
        opacity: 0;
    }
    ul#mainNav {
        display: none !important;
    }
    .donate-area {
        width: 18%;
    }
    .endorser {
        width: 49%;
    }
    
    .endorsements {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .endorser {
        margin-bottom: 3%;
    }
    
}
@media (max-width:576px) {
p {
    padding: 0 2%;
}
.endorser h3 {
    font-size: 1.3rem;
}
.donate-area {
    width: 26%;
} 
.banner-content h1 {
    font-size: 27px;
    font-weight: 700;
    line-height: 28px;
}
.become-supporter span {
    display: block;
}
.news-and-media span {
    display: block;
}
.count-info h3 {
    width: 120px !important;
    height: 160px !important;
}
.count-info h3 span {
    font-size: 37px !important;
}
.endorser {
    width: 47%;
}
.foote-content {
    flex-wrap: wrap;
    justify-content: center;
}
.footer-right {
    margin-left: 45px;
    text-align: center;
    margin-top: 15px;
}
.become-supporter, .news-and-media {
    font-size: 26px;
}
a.right-video-icon img {
    width: 80px;
    margin-top: 10px;
}
.main-banner-wrap {
    padding: 0 0px;
}
.anima-loa-active .loader {
    width: 157px;
    height: 157px;
}
.counters-section {
    margin-top: 10px;
}
.banner-content {
    padding: 14px;
}
.become-supporter {
    margin-bottom: 24px;
    margin-top: 0;
}
.content-section p {
    padding-top: 20px;
}
section.content-section.counters-section.become-supp-area {
    padding: 30px 0 50px;
}
.news-and-media {
    margin-bottom: 0;
}
footer.main-footer {
    padding: 60px 0px 38px !important;
}
.logo img.header-logo {
    width: 60%;
}
img.play-btn {
    width: 56px !important;
}
.content-section p {
    padding-top: 3px !important;
}
.foote-content > img {
    width: 23%;
}

.main-footer::after {
    background-image: none;
}
.main-footer::before {
    background-image: none;
}
}

@media (max-width:415px) {
    .donate-area {
        width: 37%;
    }
.banner-content h1 {
    font-size: 19px;
    font-weight: 600;
    line-height: 21px;
}
.row-cst {
    flex-wrap: wrap;
}
.endorser h3 {
    font-size: 1.6rem;
}
.endorser {
    width: 100%;
    margin: 10px 20px !important;
}
.footer-right {
    margin-left: 0;
}
footer.main-footer {
    padding: 90px 0px 68px;
}
a.right-video-icon img {
    width: 41px;
}

}

@media (max-width:375px) {
.banner-content h1 {
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 0;
}
.donate-area {
    width: 37%;
}
.fixed-header header.main-header {
    padding: 2px 25px;
}
}

@media (max-width:320px) {
    
    .donate-area {
        width: 45%;
    }
    }

/* Syed Arsalan Ali CSS */
